#tab-searchbar {
    background-color: #FEF5EA;
    padding: 10px 20px 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.table-header-cell {
    width: 139px;
    padding: 8px;
    text-align: center;
    background-color: #ede9e9;
    border: solid #DDD 1px;
    font-weight: bold;
    color: #707070;
}

.table-cell {
    padding: 8px;
    border: 1px solid #ddd;
    /*background-color: #f9f9f9;*/
    background-color: #e5edef;
    color: #393939;
    vertical-align: middle;
    font-size: 13px;
    text-align: center;
}

.table-header-cell {
    width: 139px;
    padding: 8px;
    text-align: center;
    background-color: #ede9e9;
    border: solid #DDD 1px;
    font-weight: bold;
    color: #707070;
}

.table-cell {
    padding: 8px;
    border: 1px solid #ddd;
    /*background-color: #f9f9f9;*/
    background-color: #e5edef;
    color: #393939;
    vertical-align: middle;
    font-size: 13px;
    text-align: center;
}

#tab-footer {
    border-top: 1px solid #DDD;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FEF5EA;
    border-bottom: 1px solid #DDD;
}

#display-records {
    padding-left: 15px;
}

#tab-searchbar {
    background-color: #FEF5EA;
    padding: 10px 20px 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;

}

#tab-wrapper {
    width: 970px;
}

.page-title {
    color: #534E47;
}

/*---------------*/

#form-btn-div {
    display: block;
    width: 100%;
    background-color: #FEF5EA;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
    text-align: center;
}

.create-acc-form-label {
    direction: rtl;
    margin-top: 8px
}

#bank_name, #id_cur_code, #id_account_id {
    width: 100%;
}