.content {
        margin-left: 0%;
}
@media screen and (min-width: 800px) {
    .content {
        margin-left: 15%;
    }
}

.flag {
        height:19%;
        width:4%;
}
@media screen and (min-width: 800px) {
    .flag {
       height:25%;
       width:1.53%;
    }
}
.profileimage{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.lang {
        margin-right: 1%;
        float:right;
        font-size: 48%;
}
@media screen and (min-width: 800px) {
    .lang {
      margin-right: 1%;
      float:right;
      font-size: 35%;
    }
}
.sidebar-links {
    color: #585858 !important;
}

.sidebar-links:hover {
    text-decoration: none;
}

#to-fa-link {
    color: white;
}

#to-en-link {
    color: white;
}

#content {

}

#interpay-logo {
    float: left;
    width: 20%;
}

#nav {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    min-height: 45px;
    position: relative;
    background: #438eb9;
    padding: 0 0;
    list-style-type: none;
    overflow: hidden;
}

#navbar-container {

}


#sidebar ul li:hover  {
    background: #BAB6B2;
}

#sidebar {
    width: 15%;
    background: #DBD8D8 repeat-y 50%;
    border-right: 3px solid #9F9D9B;
    height: 100%;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
}


#sidebar-entries {
    list-style-type: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;

}



#sidebar1 {
  width:15%;
  padding: 5px;
  height: 6%
}

.sidebar-entry {
    padding: 5px;
    color: #585858;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #898785;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}

.sidebar-ent-items {
    color: #585858
}

#footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #efefef;
    text-align: center;
    font-size: x-small;
    color: #585858;
}

#footer-content {
    padding-top: 7px;
}

#name {
    float: left;
    width: 20%;
}

#login-id {
    width: 15%;
}

#interpay-id {
    float: left;
    width: 10%;
}

#Email{
    float: left;
    width: 35%;
}

#logout {
    cursor: pointer;
    width: 15%;
}

#info-bar {
    padding: 5px;
    background-color: #FECB98 /*FCAE60/*#B7B5B3 /*#FCA750*/;
}


#cont-wrapper {
    margin: 15px;
}

#cont-header {
    margin: 10px;
}

#cont-body {
    margin: 10px;
}

#translation-link {
    float: right;
    font-size: 12px;
    text-align: center;
    cursor: pointer
}



.page-title {
    color: #534E47;
}





@media only screen and ( max-width: 420px){
.rizpal{
    padding-top: 2%;
    margin-left: 3%;
    width:10%;
    height: 94%;
    float:left ;
    margin-top:0px;
    padding-bottom: 2%;
}
 .interpay{
    padding-top: 3%;
    margin-left: 1%;
    width:17%;
    height: 80%;
    float:left ;
    margin-top:1.2%;
}

 .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

  .inner_edit  {
      padding: 5px;
      overflow: hidden;
      width: 75%;
      height: 85%;
      border-radius: 50%;
      background-color:#696969;
      float: inherit;
      font-family: IRAN-web;
      font-size: x-small
  }

}

@media only screen and (min-width : 420px) and ( max-width: 1100px) {
.rizpal{
    padding-top: 1%;
    margin-left: 1%;
    width:7%;
    height: 94%;
    float:left ;
    margin-top:0px;
    padding-bottom: 5px;
}
 .interpay{
    padding-top: 1%;
    margin-left: 0.5%;
    width:11%;
    height: 77%;
    float:left ;
    margin-top:1%;

}
    .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

    .inner_edit {
        padding: 5px;
        overflow: hidden;
        width: 95%;
        height: 65%;
        border-radius: 50%;
        background-color: #696969;
        float: inherit;
        font-family: IRAN-web;
        font-size: x-small;
        margin-top: 0.7%;

    }
}

@media only screen and (min-width: 1100px)   {
    .rizpal {
        padding-top: 0.5%;
        margin-top: 0%;
        margin-left: 1%;
        width:3%;
        height: 98%;
        float:left ;
        margin-top:0px;
        padding-bottom: 0.5%;
        margin-bottom: 0.9%;
    }

    .interpay {
        padding-top: 0.5%;
        margin-left: 0.5%;
        width:6%;
        height: 77%;
        float:left ;
        margin-top: 0.8%;
    }

    .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

    .inner_edit {
        padding: 5px;
        overflow: hidden;
        width: 95%;
        height: 65%;
        border-radius: 50%;
        background-color: #696969;
        float: inherit;
        font-family: IRAN-web;
        font-size: x-small

    }
}




/*///////////////////////////////////////////////////////////*/



@media only screen and ( max-width: 420px){
ul.topnav{
    height: 8%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}

@media only screen and (min-width : 420px) and ( max-width: 900px) {
ul.topnav{
    height: 7%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}

@media only screen and (min-width: 900px)  and ( max-width: 1400px) {
ul.topnav{
    height: 7%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}



@media only screen and (min-width : 1400px)  {
ul.topnav{
    height: 8%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}



@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  }

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#sidebar_res ul li :hover  {
    background: #DF8E0B;
}

#sidebar_res {
    width: 15%;
    background: #DBD8D8 repeat-y 50%;
    border: 3px solid #9F9D9B;
    height: 100%;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
}


#sidebar_res_entries {
    list-style-type: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;

}

.sidebar-res_entry {
    padding: 3px;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: 100;
    color: #5B5955;
    text-decoration: none;
    display: block;
    overflow-wrap: break-word;
    border-bottom: 1px solid #E7AC4C;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}



.sidebar_res_links:hover {
    background: #DF8E0B
}