.content {
        margin-left: 0%;
}
@media screen and (min-width: 800px) {
    .content {
        margin-left: 15%;

    }
}


.profileimage{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sidebar-links {
    color: #585858 !important;
}

.sidebar-links:hover {
    text-decoration: none;
}

#to-fa-link {
    color: white;
}

#to-en-link {
    color: white;
}

#content {

}

#interpay-logo {
    float: left;
    width: 20%;
}

#nav {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    min-height: 45px;
    position: relative;
    background: #438eb9;
    padding: 0 0;
    list-style-type: none;
    overflow: hidden;
}

#navbar-container {

}


#sidebar ul li:hover  {
    background: #2E2E2E;
}

#sidebar {
    width: 15%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    border-right: 3px solid #9F9D9B;
    height: 100%;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
}
.InfoMenue{
    background-color: #FED7A0;
    background-color: rgba(233, 143, 84, 0.9);
}
.fixedInfo{

    height: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    transition: 0.5s;
}
 .fixedmenue {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
 }
 .fixedInfoFarsi{
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    transition: 0.5s;
}
  .fixedmenueFarsi {
    top: 0;
    right:0;
    float: right;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    width: 50% ;
    height: 100% ;
 }

#sidebar-entries {
    list-style-type: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;

}



#sidebar1 {
  background-color: #FECB98;
  width:15%;
  padding: 5px;

}

.sidebar-entry {
    padding: 5px;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 1px solid #898785;
}

.sidebar-ent-items {
    color: #D8D8D8;
}
.sidebar-entry-name{
    color: #D8D8D8;
}
.sidebar-entry-name-small{
      color: #D8D8D8;
  }
#footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #efefef;
    text-align: center;
    font-size: x-small;
    color: #585858;
}

#footer-content {
    padding-top: 7px;
}

#name {
    float: left;
    width: 20%;
}

#login-id {
    width: 15%;
}

#interpay-id {
    float: left;
    width: 10%;
}

#Email{
    float: left;
    width: 35%;
}

#logout {
    cursor: pointer;
    width: 15%;
}

#info-bar {
    padding: 5px;
    background-color: #F7BE81 /*FCAE60/*#B7B5B3 /*#FCA750*/;
}



#cont-header {
    margin: 10px;
}

#cont-body {
    margin: 10px;

}

#translation-link {
    float: right;
    font-size: 12px;
    text-align: center;
    cursor: pointer
}



.page-title {
    color: #534E47;
}







/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#sidebar_res ul li :hover  {
    background: #DF8E0B;
}

#sidebar_res {
    width: 15%;
    background: #DBD8D8 repeat-y 50%;
    border: 3px solid #9F9D9B;
    height: 100%;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
}


#sidebar_res_entries {
    list-style-type: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;

}

.sidebar-res_entry {
    padding: 3px;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: 100;
    color: black;
    text-decoration: none;
    display: block;
    overflow-wrap: break-word;
    border-bottom: 1px solid #E7AC4C;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}



.sidebar_res_links:hover {
    background: #DF8E0B
}