.content {
        margin-left: 0%;
}
@media screen and (min-width: 800px) {
    .content {
        margin-left: 15%;
    }
}

.flag {
        height:26%;
        width:3%;
}
@media screen and (min-width: 800px) {
    .flag {
       height:25%;
       width:1.53%;
    }
}
.lang {
        margin-right: 1%;
        float:right;
        font-size: 25%;
}
@media screen and (min-width: 800px) {
    .lang {
      margin-right: 1%;
      float:right;
      font-size: 35%;
    }
}
.sidebar-links {
    color: #585858 !important;
}

.sidebar-links:hover {
    text-decoration: none;
}

#to-fa-link {
    color: white;
}

#to-en-link {
    color: white;
}

#content {

}

#interpay-logo {
    float: left;
    width: 20%;
}

#nav {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    min-height: 45px;
    position: relative;
    background: #438eb9;
    padding: 0 0;
    list-style-type: none;
    overflow: hidden;
}

#navbar-container {

}




#sidebar {
    width: 15%;
    background: #e9e9e9 repeat-y 50%;
    border: 1px solid #ccc;
    height: 100%;
    /*position: fixed;*/
}


#sidebar-entries {
    list-style-type: none;
    padding-left: 10px;
}

#sidebar1 {
  width:15%;
  padding: 5px;
  height: 6%
}

.sidebar-entry {
    padding: 5px;
    color: #585858;
    /* background-color: #f9f9f9; */
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar-ent-items {
    color: #585858
}

#footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #efefef;
    text-align: center;
    font-size: x-small;
    color: #585858;
}

#footer-content {
    padding-top: 7px;
}

#name {
    float: left;
    width: 20%;
}

#login-id {
    width: 15%;
}

#interpay-id {
    float: left;
    width: 10%;
}

#Email{
    float: left;
    width: 35%;
}

#logout {
    float: right;
    cursor: pointer;
    width: 15%;
}

#info-bar {
    padding: 5px;
    background-color: #c9dedf;
}


#cont-wrapper {
    margin: 15px;
}

#cont-header {
    margin: 10px;
}

#cont-body {
    margin: 10px;
}

#translation-link {
    float: right;
    font-size: 12px;
    text-align: center;
    cursor: pointer
}



.page-title {
    color: rgb(46, 98, 164);
}

.topnav {

     height: 5%;
}

@media screen and (min-width: 800px) {
    .topnav {
        height: 7%;
    }
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #438eb9;
}



@media screen and (max-width:680px) {

}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  }

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}