#manage_edit
{

    margin-bottom: 5%;
    background-color: #656360;
    width: 40% ;
    height: 15%;
    border-color: #3c3c3c ;
    border-style: double;
}

.stylename
{
     margin-left:4% ;
    margin-top: 5%;
    color: white;
}

.editcolor
{
    margin-bottom: 3% ;
    color: white
}

.button_edit{
    display:none;
}