* {
    box-sizing: border-box;
}

@media only screen and (max-width : 320px)  {
    .base_line{
        font-size: 15px;
        margin-top: 15%;
        padding-top: 40%;
        text-align: center;
    }

    .base_line_persian{
        font-size: 17px;
        padding-top: 40%;
        margin-top: 20%;
        text-align: center;
    }

    .cont_line1 {
        font-size: 15px;
        padding-top: 30%;
        margin-top: 30%;
        text-align: center;
    }

    .cont_line1_persian {
        font-size: 15px;
        margin-top: 30%;
        padding-top: 30%;
        text-align: center;
    }
    .cont_line2{
        font-size: 15px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    .cont_line2_persian{
        font-size: 15px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    .cont_line3 {
        font-size: 15px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    .cont_line3_persian {
        font-size: 15px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    #img1 {
        display: none;
        max-width: 40%;
        max-height: 600px;
        height: auto;
        width:auto;
        float: left;
        position: absolute;
        top: 70%;
        left: 10%;
    }

    #img2 {
        display: none;
        max-width: 40%;
        width:auto;
        height: auto;
        max-height: 600px;
        float: left;
        position: absolute;
        top: 70%;
        left: 50%;
    }
}

@media only screen and (min-width : 320px) and ( max-width: 800px) {
    .base_line{
        font-size: 32px;
        margin-top: 20%;
        padding-top: 15%;
        text-align: center;
    }

    .base_line_persian{
        font-size: 35px;
        margin-top: 20%;
        padding-top: 15%;
        text-align: center;
    }

    .cont_line1 {
        font-size: 28px;
        text-align: center;
    }

    .cont_line1_persian {
        font-size: 30px;
        text-align: center;
    }
    .cont_line2{
        font-size: 28px;
        padding-top: 5%;
        margin-top: 5%;
        text-align: center;
    }

    .cont_line2_persian{
        font-size: 30px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    .cont_line3 {
        font-size: 28px;
        padding-top: 5%;
        margin-top: 5%;
        text-align: center;
    }

    .cont_line3_persian {
        font-size: 30px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    #img1 {
        display: none;
        max-width: 40%;
        max-height: 600px;
        height: auto;
        width:auto;
        float: left;
        position: absolute;
        top: 60%;
        left: 10%;
    }

    #img2 {
        display: none;
        max-width: 40%;
        width:auto;
        height: auto;
        max-height: 600px;
        float: left;
        position: absolute;
        top: 60%;
        left: 50%;
    }
}

@media only screen and (min-width : 800px) and ( max-width: 1100px) {
    .base_line{
        font-size: 32px;
        margin-top: 25%;
        padding-top: 25%;
        text-align: center;
    }

    .base_line_persian{
        font-size: 35px;
        margin-top: 30%;
        padding-top: 30%;
        text-align: center;
    }

    .cont_line1 {
        font-size: 28px;
        text-align: center;
    }

    .cont_line1_persian {
        font-size: 30px;
        text-align: center;
    }
    .cont_line2{
        font-size: 28px;
        padding-top: 5%;
        margin-top: 5%;
        text-align: center;
    }

    .cont_line2_persian{
        font-size: 30px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    .cont_line3 {
        font-size: 28px;
        padding-top: 5%;
        margin-top: 5%;
        text-align: center;
    }

    .cont_line3_persian {
        font-size: 30px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    #img1 {
        display: none;
        max-width: 40%;
        max-height: 600px;
        height: auto;
        width:auto;
        float: left;
        position: absolute;
        top: 60%;
        left: 10%;
    }

    #img2 {
        display: none;
        max-width: 40%;
        width:auto;
        height: auto;
        max-height: 600px;
        float: left;
        position: absolute;
        top: 60%;
        left: 50%;
    }
}

@media only screen and ( min-width: 1100px) {
    .base_line{
        font-size: 35px;
        padding-top: 10%;
        text-align: center;
    }

    .base_line_persian{
        font-size: 40px;
        padding-top: 10%;
        margin-top: 10%;
        text-align: center;
    }

    br {
        display: none;
    }

    .cont_line1 {
        font-size: 38px;
        padding-top: 20%;
        text-align: center;
    }
    .cont_line2{
        font-size: 38px;
        padding-top: 10%;
        text-align: center;
    }

    .cont_line3 {
        font-size: 38px;
        padding-top: 10%;
        text-align: center;
    }

    #img1 {
        display: none;
        max-width: 40%;
        max-height: 600px;
        height: auto;
        width:auto;
        float: left;
        position: absolute;
        top: 25%;

    }

    #img2 {
        display: none;
        max-width: 40%;
        width:auto;
        height: auto;
        max-height: 600px;
        float: left;
        position: absolute;
        top: 25%;
        left: 58%;

    }

}
