@media only screen and ( max-width: 600px){
.select_button{
    display:inline;
    display: inline-block;
    text-align: center ;
    font-size: 90%;
    font-size-adjust: inherit ;
    width: 32%;
    height: 14%;
    margin-right: 10%;
    margin-top: 5%;
}
}

@media only screen and (min-width : 600px) and ( max-width: 900px) {
.select_button{
    display:inline;
    display: inline-block;
    text-align: center ;
    font-size: 120%;
    font-size-adjust: inherit ;
    width: 18%;
    height: 14%;
    margin-right: 3%;
    margin-top: 5%;
}
#pay{
      margin-left: 20%
}
}

@media only screen and (min-width: 900px)  and ( max-width: 1400px) {
.select_button{
    display:inline;
    display: inline-block;
    text-align: center ;
    font-size: 100%;
    font-size-adjust: inherit ;
    width: 10%;
    height: 10%;
    margin-right: 5%
}
#pay{
      margin-left: 20%
}
}



@media only screen and (min-width : 1400px)  {
.select_button{
    display:inline;
    display: inline-block;
    text-align: center ;
    font-size: 120%;
    font-size-adjust: inherit ;
    width: 12%;
    height: 10%;
    margin-right: 5%
}
#pay{
      margin-left: 20%
}
}


