.form-wrapper {
    margin-top: 30px;
    padding: 20px;
    border: 0 ridge rgb(238, 238, 255);
    width: 75%;
    box-shadow: 3px 1px 6px rgb(239, 239, 239);
    display: inline-block;
    text-align: left;
    background-color: #e1e1e2;
    border-radius: 3%;

}

@media screen and (min-width: 800px) {
    .form-wrapper {
        margin-top: 30px;
        padding: 20px;
        border: 0 ridge rgb(238, 238, 255);
        width: 40%;
        box-shadow: 3px 1px 6px rgb(239, 239, 239);
        display: inline-block;
        text-align: left;
        background-color: #e1e1e2;
        border-radius: 3%;

    }
}

.top-bar {
    background-color: #898787;
    padding: 5px 0 5px 15px;
    line-height: 10px;
    border-radius: 0;
    margin-bottom: 0;
    height: 17%;
}

.registration-form-field {
    width: 100%;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;

}

#reg-wrap-wrap-div {
    text-align: center;
}

/*TODO this part should be changed and implemented in a neat way.*/
/*label {*/
    /*display: none !important;*/
/*}*/

label[for=id_date_of_birth_day] {
    display: inline-block !important;
    font-weight: 500;
}

/*label[for=id_national_card_photo] {*/
    /*display: inline-block !important;*/
    /*font-weight: 500;*/
/*}*/

/*TODO this task should be done in a correct and neat way. */
span.helptext {
    display: none !important;
}

/*TODO this part isn't working. fix it.*/
.registeration-form-field:before {
    content: "* ";
}

#submit-btn #continue-btn {
    width: 35%;
    margin: 20px auto 10px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #e1e1e1;
    text-align: center;
    font-size: x-small;
    color: #585858;
}

#footer-content {
    padding-top: 7px;
}

.form-msg {
    padding: 10px 5px;
    color: red;
    font-size: small;
    margin-top: 5px
}

.login-register-div {
    margin-bottom: 30px;
    margin-top: 15px;
}

#translation-link {
    float: right;
    width: 5%;
    padding: 13px;
    font-size: 12px;
    text-align: center;
}



input#id_national_card_photo  {
        width: 100%;
        length: 10%;
        background: #CB840F;
        border:1px solid #B7760B;
        position:relative;
        color:#ffffff;
        border-radius:2px;
        text-align:center;
        float:left;
        cursor:pointer
}
@media screen and (min-width: 800px) {
    input#id_national_card_photo  {
        padding:5px 10px;
        background: #CB840F;
        border:1px solid #B7760B;
        position:relative;
        color:#ffffff;
        border-radius:2px;
        text-align:center;
        float:left;
        cursor:pointer
    }
}

.flag {
        height:19%;
        width:4%;
}
@media screen and (min-width: 800px) {
    .flag {
       height:25%;
       width:1.53%;
    }
}
.lang {
        color: white;
        margin-right: 1%;
        float:right;
        font-size: 48%;
}
@media screen and (min-width: 800px) {
    .lang {
      color: white;
      margin-right: 1%;
      float:right;
      font-size: 35%;
    }
}


@media only screen and ( max-width: 420px){
.rizpal{
    padding-top: 2%;
    margin-left: 3%;
    width:10%;
    height: 94%;
    float:left ;
    margin-top:0px;
    padding-bottom: 2%;
}
 .interpay{
    padding-top: 2%;
    margin-left: 1%;
    width:17%;
    height: 80%;
    float:left ;
    margin-top:1.2%;
}

 .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

  .inner_edit  {
      padding: 5px;
      overflow: hidden;
      width: 75%;
      height: 85%;
      border-radius: 50%;
      background-color:#696969;
      float: inherit;
      font-family: IRAN-web;
      font-size: x-small
  }

}

@media only screen and (min-width : 420px) and ( max-width: 800px) {
.rizpal{
    padding-top: 1%;
    margin-left: 1%;
    width:7%;
    height: 94%;
    float:left ;
    margin-top:0px;
    padding-bottom: 5px;
}
 .interpay{
    padding-top: 1%;
    margin-left: 0.5%;
    width:11%;
    height: 77%;
    float:left ;
    margin-top:1%;

}
    .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

    .inner_edit {
        padding: 5px;
        overflow: hidden;
        width: 95%;
        height: 65%;
        border-radius: 50%;
        background-color: #696969;
        float: inherit;
        font-family: IRAN-web;
        font-size: x-small;
        margin-top: 0.7%;

    }
}
@media only screen and (min-width : 800px) and ( max-width: 1100px) {
.rizpal{
    padding-top: 7px;
    margin-left: 1%;
    width:5%;
    height: 94%;
    float:left ;
    padding-bottom: 8px;
    margin-bottom: 1px;
}
 .interpay{
    padding-top: 2px;
    margin-left: 0.5%;
    width:9%;
    height: 77%;
    float:left ;
    margin-top: 9px;

}
    .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

    .inner_edit {
        padding: 5px;
        overflow: hidden;
        width: 95%;
        height: 65%;
        border-radius: 50%;
        background-color: #696969;
        float: inherit;
        font-family: IRAN-web;
        font-size: x-small;
        margin-top: 0.7%;

    }
}

@media only screen and (min-width: 1100px) and (max-width: 1400px)  {
    .rizpal {
        padding-top: 7px;
        margin-top: 0%;
        margin-left: 1%;
        width:3%;
        height: 98%;
        float:left ;
        margin-top:0px;
        padding-bottom: 8px;
        margin-bottom: 1px;
    }

    .interpay {
        padding-top: 2px;
        margin-left: 0.5%;
        width:6%;
        height: 77%;
        float:left ;
        margin-top: 9px;
    }

    .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

    .inner_edit {
        padding: 5px;
        overflow: hidden;
        width: 95%;
        height: 65%;
        border-radius: 50%;
        background-color: #696969;
        float: inherit;
        font-family: IRAN-web;
        font-size: x-small

    }
}

@media only screen and (min-width: 1400px) and (max-width: 1700px)   {
    .rizpal {
        padding-top: 7px;
        margin-top: 0%;
        margin-left: 1%;
        width: 3%;
        height: 100%;
        float:left ;
        margin-top:0px;
        padding-bottom: 8px;
        margin-bottom: 1px;
    }

    .interpay {
        padding-top: 2px;
        margin-left: 0.5%;
        width:6%;
        height: 77%;
        float:left ;
        margin-top: 9px;
    }

    .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

    .inner_edit {
        padding: 5px;
        overflow: hidden;
        width: 95%;
        height: 65%;
        border-radius: 50%;
        background-color: #696969;
        float: inherit;
        font-family: IRAN-web;
        font-size: x-small

    }
}

@media only screen and (min-width: 1700px)   {
    .rizpal {
        padding-top: 7px;
        margin-top: 0%;
        margin-left: 1%;
        width:2.5%;
        height: 100%;
        float:left ;
        margin-top:0px;
        padding-bottom: 8px;
        margin-bottom: 1px;
    }

    .interpay {
        padding-top: 2px;
        margin-left: 0.5%;
        width:6%;
        height: 77%;
        float:left ;
        margin-top: 9px;
    }

    .edit {
        float: right;
        padding-right: 2%;
        padding-bottom: 1.5%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        margin-top: 0;
    }

    .inner_edit {
        padding: 5px;
        overflow: hidden;
        width: 95%;
        height: 65%;
        border-radius: 50%;
        background-color: #696969;
        float: inherit;
        font-family: IRAN-web;
        font-size: x-small

    }
}



/*///////////////////////////////////////////////////////////*/



@media only screen and ( max-width: 420px){
ul.topnav{
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}

@media only screen and (min-width : 420px) and ( max-width: 900px) {
ul.topnav{
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}

@media only screen and (min-width: 900px)  and ( max-width: 1400px) {
ul.topnav{
     height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}



@media only screen and (min-width : 1400px)  and ( max-width: 1700px) {
ul.topnav{
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}

@media only screen and (min-width : 1700px){
ul.topnav{
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #898787;
}
}




ul.topnav span {float: left;}

ul.topnav span a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav span a:hover {background-color: #555;}

ul.topnav sapn.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav sapn:not(:first-child) {display: none;}
  ul.topnav sapn.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive sapn.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive sapn a {
      display: block;
      text-align: left;
  }}


