* {
    box-sizing: border-box;
}
#img1 {

    display: none;
    max-width: 40%;
    max-height: 600px;
    height: auto;
    width:auto;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: auto;
    float: left;
}

#img2 {
    display: none;
    max-width: 40%;
    width:auto;
    height: auto;
    max-height: 600px;
    margin-right: auto;
    margin-left: 28%;
    margin-bottom: auto;
    float: left;
}