* {
    box-sizing: border-box;
}

@media only screen and (min-width : 250px) and (max-width: 400px)  {

    #trusted_payment_persian{
        font-size: 15px;
        position: absolute;
        padding-left: 40%;
    }

    #login_persian {
        font-size: 15px;
        padding-left: 20%;
    }

    #main_page_persian {
        font-size: 15px;
        position: absolute;
        padding-left: 68%;
    }

    #services_persian {
        font-size: 15px;
        position: absolute;
        padding-left: 48%;
        padding-top:4%;
    }

    #contact_us_persian {
        font-size: 15px;
        position: absolute;
        padding-left: 20%;
        padding-top:4%;
    }

    #about_us_persian {
        font-size: 15px;
        padding-top:2%;
    }

    #trusted_payment_english{
        font-size: 10px;
        position: absolute;
        padding-left: 50%;
    }
    #login_english {
        font-size: 10px;
        padding-left: 30%;
    }

    #main_page_english {
        font-size: 10px;
        position: absolute;
        padding-left: 75%;
    }

    #services_english {
        font-size: 10px;
        position: absolute;
        padding-left: 50%;
        padding-top:4%;
    }

    #contact_us_english {
        font-size: 10px;
        position: absolute;
        padding-left: 25%;
        padding-top:4%;
    }

    #about_us_english {
        font-size: 10px;
        padding-top:2%;
    }
}

@media only screen and (min-width : 400px) and (max-width: 1000px)  {

    #trusted_payment_persian{
        font-size: 15px;
        position: absolute;
        padding-left: 73%;
    }
    #login_persian {
        font-size: 15px;
        padding-left: 65%;
        position: absolute;
    }

    #main_page_persian {
        font-size: 15px;
        position: absolute;
        padding-left: 45%;
    }

    #services_persian {
        font-size: 15px;
        position: absolute;
        padding-left: 33%;
    }

    #contact_us_persian {
        font-size: 15px;
        position: absolute;
        padding-left: 17%;
    }

    #about_us_persian {
        font-size: 15px;
        padding-left: 4%;
        padding-top: 0.4%;
    }

    #trusted_payment_english{
        font-size: 10px;
        position: absolute;
        padding-left:75%;
    }
    #login_english {
        font-size: 10px;
        padding-left: 65%;
        position: absolute;
    }

    #main_page_english {
        font-size: 10px;
        position: absolute;
        padding-left: 48%;
    }

    #services_english {
        font-size: 10px;
        position: absolute;
        padding-left: 32%;
    }

    #contact_us_english {
        font-size: 10px;
        position: absolute;
        padding-left: 17%;
    }

    #about_us_english {
        font-size: 10px;
        padding-top:0.1%;
        padding-left: 2%;
    }
}
