#recharge-form-btns {
    display: block;
    background-color: #FCF8F3;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
}

.recharge-form-label {
    direction: rtl;

}

.table-header-cell {
    width: 139px;
    padding: 8px;
    text-align: center;
    background-color: #F9F4EF;
    border: solid #DDD 1px;
    font-weight: bold;
    color: #707070;
}

.table-cell {
    padding: 8px;
    border: 1px solid #ddd;
    /*background-color: #f9f9f9;*/
    background-color: #F9F4EF;
    color: #393939;
    vertical-align: middle;
    font-size: 13px;
    text-align: center;
}

#wal-tab-footer {
    border-top: 1px solid #DDD;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FEF5EA;
    border-bottom: 1px solid #DDD;
}

#display-records {
    padding-left: 15px;
}

#wal-tab-searchbar {
    background-color: #FEF5EA;
    padding: 10px 20px 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 10%;

}

#tab-wrapper {
    width: 970px;

}

.page-title {
    color: rgb(46, 98, 164);
    /*color: rgb(0, 0, 0);*/
}

#id_currency, #id_amount {
    width: 100%;
}

.recharge-form-btn {
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 480px) {

    .recharge-form-btn {
        margin-left: 2px;
        margin-right: 2px;
    }
}

#recharge-form-message-div {
    background-color: lightgreen;
    border-radius: 5px;
}

#recharge-form-message {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 80%;
    align-content: center;
    margin-left: 15px;
}