.table-header-cell {
    width: 139px;
    padding: 8px;
    text-align: center;
    background-color: #ede9e9;
    border: solid #DDD 1px;
    font-weight: bold;
    color: #707070;
}

.table-cell {
    padding: 8px;
    border: 1px solid #ddd;
    /*background-color: #f9f9f9;*/
    text-align: left;
    background-color: #e5edef;
    color: #393939;
    vertical-align: middle;
    font-size: 13px;
}

#wal-tab-footer {
    border-top: 1px solid #DDD;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eff3f8;
    border-bottom: 1px solid #DDD;
}

#display-records {
    padding-left: 15px;
}

#search {
}

#wal-tab-searchbar {
    background-color: #eff3f8;
    padding: 10px 20px 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 10%;

}

#tab-wrapper {
    width: 970px;

}

    @media only screen and (max-device-width: 480px) {

        #tab-wrapper {
            /*width: 700px;*/
        }

        #wal-tab-searchbar {
            /*background-color: red;*/

        }
    }



 .form-style-9{
    max-width: 40%;
    height: 20%;
    background: #FAFAFA;
    margin-top: 5%;
    padding: 30px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}


