.content {
    margin-left: 15%;
}

.sidebar-links {
    color: #585858 !important;
}

.sidebar-links:hover {
    text-decoration: none;
}

#to-fa-link {
    color: white;
}

#to-en-link {
    color: white;
}

#content {
    padding: 20px;
}

#interpay-logo {
    float: left;
    width: 20%;
}

#nav {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    min-height: 45px;
    position: relative;
    background: #438eb9;
    padding: 0 0;
}

#navbar-container {
    padding-left: 10px;
    padding-right: 20px;
}

#welcome-btn {
    background: #2e6589;
    padding: 10px;
    margin-right: 10px;
    width: 13%;
    text-align: center;
    cursor: pointer;
    color: white;
}

#sidebar {
    width: 15%;
    background: #e9e9e9 repeat-y 50%;
    border: 1px solid #ccc;
    height: 100%;
    /*position: fixed;*/
}

#sidebar-entries {
    list-style-type: none;
    padding-left: 10px;
}

.sidebar-entry {
    padding: 5px;
    color: #585858;
    /* background-color: #f9f9f9; */
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar-ent-items {
    color: #585858
}

#footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #efefef;
    text-align: center;
    font-size: x-small;
    color: #585858;
}

#footer-content {
    padding-top: 7px;
}

#name {
    float: left;
    width: 25%;
}

#login-id {
    width: 35%;
}

#interpay-id {
    float: left;
    width: 25%;
}

#logout {
    float: right;
    cursor: pointer;
    width: 15%;
    display: inline-block;
    text-align: center;
}

#info-bar {
    padding: 5px;
    background-color: #c9dedf;
}

#cont-wrapper {
    margin: 15px;
}

#cont-header {
    margin: 10px;
}

#cont-body {
    margin: 10px;
}

#translation-link {
    float: right;
    width: 5%;
    padding: 13px;
    font-size: 12px;
    text-align: center;
    cursor: pointer
}

@media only screen and (max-device-width: 480px) {

}


.page-title {
    color: rgb(46, 98, 164);
}