{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block CSS %}
        <link rel="stylesheet" href="{% static 'css/bank_accounts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert2/sweetalert2.min.css' %}">
    {% endblock %}
    {% block JS %}
        <script src="../static/js/sweetalert.min.js"></script>
        <script src="{% static 'bower_components/sweetalert2/sweetalert2.js' %}"></script>
        <script src="{% static 'bower_components/sweetalert2/sweetalert2.min.js' %}"></script>
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}
        {% trans 'Bank Accounts' %}
    {% endblock %}</title>
</head>
<body>
<script>
    {% block script %}
        $(document).ready(function () {
            function create_bank_acc() {
                {#                    swal({#}
                {#                        title: "create account",#}
                {#                        text: '<br /><form method="post" id="" name=""><input id="" class="form-control " type="text"></form>',#}
                {#                        type: "warning",#}
                {#                        showCancelButton: false,#}
                {#                        confirmButtonText: "Thanks",#}
                {#                        closeOnConfirm: false#}
                {#                    }, function () {#}
                {#                        swal("Deleted!", "Your imaginary file has been deleted.", "success");#}
                {#                    });#}
                {#            swal({#}
                {#                title: 'Submit email to run ajax request',#}
                {#                input: 'email',#}
                {#                showCancelButton: true,#}
                {#                confirmButtonText: 'Submit',#}
                {#                showLoaderOnConfirm: true,#}
                {#                preConfirm: function (email) {#}
                {#                    return new Promise(function (resolve, reject) {#}
                {#                        setTimeout(function () {#}
                {#                            if (email === 'taken@example.com') {#}
                {#                                reject('This email is already taken.')#}
                {#                            } else {#}
                {#                                resolve()#}
                {#                            }#}
                {#                        }, 2000)#}
                {#                    })#}
                {#                },#}
                {#                allowOutsideClick: false#}
                {#            }).then(function (email) {#}
                {#                swal({#}
                {#                    type: 'success',#}
                {#                    title: 'Ajax request finished!',#}
                {#                    html: 'Submitted email: ' + email#}
                {#                })#}
                {#            });#}
                swal({
                    title: "Aggiornamento profilo",
                    text: 'type something',
                    {#                        '<form id="create-bank-acc-form" class="form-horizontal" method="post">{% csrf_token %}<div class="form-group"><label class="col-sm-3 create-acc-form-label" style="margin-top: 8px">{% trans "Bank" %}</label>{{ form.name }}</div><div class="form-group"><label class="col-sm-3 create-acc-form-label" style="margin-top: 8px">{% trans "Currency" %}</label>{{ form.cur_code }}</div><div class="form-group"></div><div class="form-group"><label class="col-sm-3 create-acc-form-label" style="margin-top: 8px">{% trans "Account Number" %}</label>{{ form.account_id }}</div><div class="form-group"><input type="submit" value="submit"><input type="reset" value="cancel"></div></form>',#}
                    type: "warning",
                    showCancelButton: false,
                    confirmButtonText: "Aggiorna il mio profilo",
                    closeOnConfirm: false
                }, function () {
                    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                });
            }

            {% ifequal LANGUAGE_CODE 'fa-ir' %}
                $(".create_b_acc_form_field").addClass('pull-right');
                $(".create-acc-form-label").addClass('pull-right');
                $(".create-acc-form-label").css({'text-align': 'left'});
                console.log($(".recharge-form-label").className);
            {% endifequal %}
        });
    {% endblock %}
</script>
{% block cont-header %}
    <div id="bank_accounts_title">
        <h3 class="page-title"> {% trans "My Financial Accounts" %}</h3>
    </div>
{% endblock %}
{% block cont-body %}
    <div class="row">
        <!---#TODO the ideal form is to transform this part into a message box like fancy box or sweetalert,
         which pops up by clicking a button (which is below this page and commented out right now--->
        <div class="col-sm-12">
            <div class="page-header">
                <h4 class="page-title">{% trans 'Creating a Bank Account' %}</h4>
            </div>

            <div>
                {#TODO this part is not working - errors are not shown to the user properly#}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <form id="create-bank-acc-form" class="form-horizontal" method="post">{% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-3 create-acc-form-label">{% trans "Bank" %}</label>
                        <div class="col-sm-9">
                            <div class="col-xs-6 create_b_acc_form_field">{{ form.name }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 create-acc-form-label">{% trans "Currency" %}</label>
                        <div class="col-sm-9">
                            <div class="col-xs-6 create_b_acc_form_field">{{ form.cur_code }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 create-acc-form-label">{% trans "Account Number" %}</label>
                        <div class="col-sm-9">
                            <div class="col-xs-6 create_b_acc_form_field">{{ form.account_id }}</div>
                        </div>
                    </div>
                    <div class="form-group" id="form-btn-div">
                        <button type="submit" class="btn btn-success"
                                style="margin-left: 10px;margin-right: 10px;"><i
                                class="fa fa-check"></i> {% trans 'Done' %}</button>
                        <button type="reset" class="btn"
                                style="margin-left: 10px;margin-right: 10px;"><i
                                class="fa fa-undo"></i> {% trans 'Cancel' %}</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="page-header">
                <h4 class="page-title">{% trans 'My Bank Accounts' %}</h4>
            </div>
            <div id="tab-wrapper" style="margin-right: 0 !important;margin-left: 0 !important" class="row tab-wrapper">
                <div id="tab-searchbar" class="row ">
                <span id="display-records" class="col-sm-4">
                    <i class="fa fa-eye" aria-hidden="true">
                        <select>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </i>
                </span>
                    <span id="search" class="col-sm-4">
                    <i class="fa fa-search" aria-hidden="true">
                            <input type="text" id="search-txtbox">
                    </i>
                </span>
                </div>
                <table id="bank-tab">
                    <thead>
                    <tr class="table-header-row">
                        <th class="table-header-cell">
                            {% trans 'Index' %}
                        </th>
                        <th class="table-header-cell">
                            {% trans 'Bank Name' %}
                        </th>
                        <th class="table-header-cell">
                            {% trans 'Account Owner' %}
                        </th>
                        <th class="table-header-cell">
                            {% trans 'Account Number' %}
                        </th>
                        <th class="table-header-cell">
                            {% trans 'Currency' %}
                        </th>
                        <th class="table-header-cell">
                            {% trans 'Total Inventory' %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for b in bank_accounts_set %}
                        <tr>
                            <td class="table-cell">{{ forloop.counter }}</td>
                            <td class="table-cell">{{ b.name }}</td>
                            <td class="table-cell">{{ b.owner.user.username }}</td>
                            <td class="table-cell">{{ b.account_id }}</td>
                            <td class="table-cell">{{ b.cur_code }}</td>
                            <td class="table-cell">{{ b.total_value }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div id="tab-footer" class="row" style="margin-left: 0 !important;margin-right: 0 !important;">
{#                    <h5 style="padding-left: 20px" class="col-sm-8">Showing {{ m }} to {{ x }} of {{ y }}entries</h5>#}
                </div>
            </div>
            <!---this button should be activated in future --->
            {#            <div id="create_acc" style="margin-top: 40px;text-align: center" class="">#}
            {#                <button class="btn btn-info" onclick="create_bank_acc()"><i class="fa fa-plus"#}
            {#                                                                            aria-hidden="true"></i>#}
            {#                    {% trans 'Create new account' %}#}
            {#                </button>#}
            {#            </div>#}
        </div>
    </div>
{% endblock %}
</body>
</html>