{% load i18n %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head rel="icon" href="/static/images/logo.png">
    {% block style %}
        <style>
            {% ifequal LANGUAGE_CODE 'fa-ir' %}
                .content {
                    margin-left: 0 !important;
                    margin-right: 15% !important;
                    direction: rtl;
                }

                #sidebar-entries {
                    padding-right: 10px;
                    padding-left: 0 !important;
                }

                .sidebar-entry {
                    text-align: -webkit-right;
                    direction: rtl;
                }

                #logout {
                    float: left !important;
                }

                #name {
                    float: right !important;
                }

                #interpay-id {
                    float: right !important;
                }
            {% endifequal %}
        </style>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.css" %}">
        <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon .ico' %}"/>
    {% endblock css %}
    {% block js %}
{#        <script type="text/javascript" src="../static/jquery/jquery-1.10.2.min.js"></script>#}
{#        <script type="text/javascript" src="../static/jquery/jquery.js"></script>#}
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    {% endblock %}
    {% block CSS %}
    {% endblock %}
    <meta charset="UTF-8" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <title>{% block title %}{% trans 'Home Page ' %}- InterPay Iran{% endblock %}</title>

</head>
<script>
    function to_en() {
        var en_url = window.location.href.replace("/fa-ir/", "/");
        window.location.assign(en_url);
    }
</script>
<body style="background: #f9f9f9 repeat-y 50% 0;">
<div class="container-fluid" style="padding-left: 0;!important; padding-right: 0;!important;">
    <header>
        <div id="nav" class="navbar navbar-default">
            <div class="navbar-container" id="navbar-container">
                <div class="navbar-header pull-left" id="interpay-logo">
                    <a class="navbar-brand" style="padding-top: 10px">
                        <img id="LOGO" src="/static/images/logo.png" style="width: 40%">

                    </a>
                </div>
                <div style="float: right;" id="welcome-btn" class="navbar-header ">
                    {{ user.username }}{% trans "'s Profile" %}

                    <i class="fa fa-sort-down" aria-hidden="true"></i>
                    <br>
                </div>
                <div id="translation-link">
                    {% ifequal LANGUAGE_CODE  'en-gb' %}
                        <a id="to-fa-link" href='/fa-ir{{ request.path }}'><img src="../static/images/irflag.png"
                                                                                style="width: 50%;cursor: pointer"></a>
                    {% else %}
                        <a id="to-en-link" class="trans-link" onclick="to_en()"><img src="../static/images/ukflag.png"
                                                                                     style="width: 50%;cursor: pointer"></a>
                    {% endifequal %}
                </div>

            </div>
        </div>
    </header>
    {% ifequal LANGUAGE_CODE  'en-gb' %}
        <div id="sidebar" class="pull-left">
    {% else %}
        <div id="sidebar" class="pull-right">
    {% endifequal %}
    <div id="sidebar-content">
        <ul id="sidebar-entries">
            <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE  'en-gb' %}
                    <a class="sidebar-links" href="/home">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/home">
                {% endifequal %}
                <i class="fa fa-home sidebar-ent-items" aria-hidden="true"></i> {% trans "Home" %}
                </a>
            </li>
            <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE  'en-gb' %}
                    <a class="sidebar-links" href="/wallets">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/wallets">
                {% endifequal %}

                <i class="fa fa-credit-card sidebar-ent-items" aria-hidden="true"></i> {% trans "Wallets" %}

                </a>
            </li>
            <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE  'en-gb' %}
                    <a class="sidebar-links" href="/trans-history">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/trans-history">
                {% endifequal %}
                <i class="fa fa-history sidebar-ent-items" aria-hidden="true"></i>{% trans " Transaction History" %}

                </a>
            </li>
            <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE  'en-gb' %}
                    <a class="sidebar-links" href="/reports">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/reports">
                {% endifequal %}

                <i class="fa fa-file-text-o sidebar-ent-items" aria-hidden="true"></i>{% trans " Reports" %}

                </a>
            </li>
            <li class="sidebar-entry" style="border-bottom: double #f1f1f1">
                {% ifequal LANGUAGE_CODE  'en-gb' %}
                    <a class="sidebar-links" href="/general">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/general">
                {% endifequal %}

                <i class="fa fa-bullseye sidebar-ent-items" aria-hidden="true"></i>{% trans " General" %}
                </a>
            </li>
        </ul>

    </div>
    </div>
    <div class="content">
        <div id="info-bar">
            <span id="name">{% trans "Name" %} : {{ user.first_name }} {{ user.last_name }}</span>
            <span id="login-id">{% trans "Login ID" %}: {{ user.id }}</span>
            <span id="interpay-id">{% trans "InterPay ID" %}: </span>
        <span id="logout">
            <a id="logout-link" href="/logout">
                <i class="fa fa-power-off" aria-hidden="true"> {% trans "Logout" %}</i>
            </a>
        </span>
        </div>
        <section id="main-content-section">
            <div id="cont-wrapper" class="">
                <div id="cont-header" class="col-xs-12">
                    {% block cont-header %}
                    {% endblock %}
                    <hr>
                </div>

                <div id="cont-body" class="col-xs-12">
                    {% block cont-body %}
                    {% endblock %}
                </div>

            </div>
        </section>

    </div>
    <footer id="footer" class="footer">
        <div id="footer-content">All rights reserved.</div>
    </footer>
    </div>
</div>
</body>
</html>