{% extends 'registeration_form.html' %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="top-bar">
        <div class="container" style="color: white;">
            <b>{% block header_title %}
                Welcome to InterPay Iran (Rizpardakht)
            {% endblock %}</b>

            <div class="row">
                <div id="number" class="col-sm-6 col-xs-4"></div>
                <div id="social" class="col-sm-6 col-xs-8"></div>
            </div>
        </div>
    </div>
    <nav></nav>
</header>

<section>
    <div class="container">
        <div class="row">
            {% block main-cont %}
                <div class="col-xs-12" style="text-align: center ">
                    <div class="form-wrapper" id="login-form-wrapper">
                        <div>
                            {% block message %}
                                {% if msg %}
                                    #TODO this style should be omitted and implemented via registration-form.css
                                    <div class="form-msg"
                                         style="padding: 10px 5px;color: red;font-size: small;margin-top: 5px"><i
                                            class="fa fa-exclamation-triangle" style="color: red"
                                            aria-hidden="true"></i> {{ msg }}</div>
                                {% endif %}
                            {% endblock %}</div>
                        <hr>
                        <form id="login_form" method="post" action="/login/">
                            {% csrf_token %}

                            <div id="lgn-btn-div" style="text-align: center"><input
                                    id="login-btn"
                                    class="btn btn-info" type="submit"
                                    value="{% trans 'Login' %}"/></div>
                        </form>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</section>
</body>
</html>