{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../static/jquery/jquery-1.10.2.min.js"></script>
    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}
        {% trans 'Home Page' %}
    {% endblock %}</title>
</head>
<body>
{% block cont-header %}
    <div id="welcome-msg" style="font-family: IRAN-web">
        <h3 class="page-title"> {% trans "Welcome to interpay" %}</h3>
    </div>
{% endblock %}
{% block cont-body %}
    <div id="interpay-desc" style="font-family: IRAN-web">
        <p>
            {% trans 'Interpay is an online electronic service which provides a safe and secure platform for business transactions and e-commerce. No matter you are the merchant or the consumer, we will bring you an enjoyable experience of transaction.' %}
        </p>
    </div>
{% endblock %}

</body>
</html>