{% extends 'registeration_form.html' %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InterPay Iran</title>
    {% block CSS %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}">
</head>
<body>
<header>
    <div class="top-bar">
        <div class="container" style="color: white;">
            <b>{% block header_title %}
                Welcome to InterPay Iran
            {% endblock %}</b>

            <div class="row">
                <div id="number" class="col-sm-6 col-xs-4"></div>
                <div id="social" class="col-sm-6 col-xs-8"></div>
            </div>
        </div>
    </div>
    <nav></nav>
</header>
<section>
    <div class="container">
        <div class="row">
            {% block main-cont %}

                <div class="col-xs-12" style="text-align: center ">
                    <h3 style="margin-top: 40px">Welcome to Interpay Iran</h3>

                    <div class="form-wrapper" id="login-form-wrapper">
                        <div style="font-size: larger"><i class="fa fa-sign-in" style="padding-right: 5px"
                                                          aria-hidden="true"></i>
                            Login to Interpay
                        </div>
                        <div>{% block message %}
                            {% if msg %}
{#                                TODO this style should be omitted and implemented via registration-form.css #}
                                <div class="form-msg" style="padding: 10px 5px;color: red;font-size: small;margin-top: 5px"><i class="fa fa-exclamation-triangle" style="color: red"
                        aria-hidden="true"></i> {{ msg }}</div>
                            {% endif %}
                        {% endblock %}</div>
                        <hr>
                        <form id="login_form" method="post" action="/login/">
                            {% csrf_token %}
                            <div id="username-div"><input class="login-form-field" type="text" name="username"
                                                          id="username" value=""
                                                          placeholder="Username" size="50"/>
                            </div>
                            <div id="password-div"><input class="login-form-field" type="password" name="password"
                                                          id="password" value=""
                                                          placeholder="Password" size="50"/>
                            </div>
                            <div id="lgn-btn-div" style="text-align: center"><input
                                    id="submit-btn"
                                    class="btn btn-info" type="submit"
                                    value="Login"/></div>
                        </form>
                    </div>
                    <div id="register-div">
                        <h6>Don't have an account yet?</h6>
                        <a id="register-link" href="/register/">Create One!</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</section>

</body>
</html>