{% load i18n %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        InterPay Iran
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/registeration_form.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon .ico' %}"/>
    {% block CSS %}
    {% endblock %}


    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    {% block JS %}
    {% endblock %}
</head>

<body style="background: #f9f9f9">
<script>
    $(document).ready(function () {
        $("#national_code").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                        // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                        // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });

        {#        $(function () {#}
        {#            $("#id_date_of_birth").datepicker("show");#}
        {#            $("#format"id_date_of_birth").datepicker("option", "dateFormat", $(this).val());#}
        {#            });).change(function () {#}
        {#                $("##}
        {#        });#}

        {#        console.log("k");#}
        {#        $("#id_date_of_birth").click(function () {#}
        {#            console.log("hi");#}
        {#            $("#id_date_of_birth").datepicker("show");#}
        {#        });#}
    });
</script>
<header>
    <div class="top-bar">
        <div class="container" style="color: white;">
            <div id="logo-bar">
                <img src="/static/images/logo.png" style="width: 10%">

            </div>
            <div class="row">
                <div id="number" class="col-sm-6 col-xs-4"></div>
                <div id="social" class="col-sm-6 col-xs-8"></div>
            </div>
        </div>
    </div>
    <nav></nav>
</header>
<section>
    <div class="container">
        {% if registered %}
            <strong>thank you for registering!</strong>
            <a href="/home">Return to the homepage.</a><br/>
        {% else %}
            <div class="row">
                {% block main-cont %}
                    <div class="col-xs-12" id="reg-wrap-wrap-div">
                        <div class="form-wrapper">
                            <div></div>
                            <div id="reg-top-icon" style="margin: 5px;font-size: larger">
                                <i class="fa fa-users" aria-hidden="true"
                                   style="padding-right: 5px"></i>
                                New User
                                Registration
                            </div>

                            {% block message %}

                            {% endblock %}

                            <hr>
                            <form id="user_form" method="post" action="/register/"
                                  enctype="multipart/form-data"> {% csrf_token %}
                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}
                                <div id="submit-btn-wrap" style="text-align: center">
                                    <input id="submit-btn" class="btn btn-primary" type="submit" name="submit"
                                           value="Sign Up"/>
                                </div>
                            </form>
                            <a></a>

                            <div></div>
                            <div></div>
                        </div>
                        <div class="login-register-div">
                            <h6>Already have an account?</h6>
                            <a class="register-login-link" href="/login/">Sign In!</a>
                        </div>
                    </div>
                {% endblock %}

            </div>
        {% endif %}

    </div>

</section>
{#TODO this part should be fixed ASAP#}
{#<footer id="footer" class="footer">#}
{#    <div id="footer-content">All rights reserved.</div>#}
{#</footer>#}
</body>
</html>