{% load i18n %}
{% load static %}
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
 {% ifequal LANGUAGE_CODE 'fa-ir' %}
     <link rel="stylesheet" media="all and (max-width: 1024px)" type="text/css" href="{% static 'interpay/fonts/style.css' %}" />
{% endifequal %}

<!DOCTYPE html>

<html lang="en">
<head>
    {% block style %}
    {% endblock %}
    {% block STYLE %}
    {% endblock %}
    {% block css %}
       {% ifequal LANGUAGE_CODE 'fa-ir' %}
       <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/baseFarsi.css' %}">
       {% endifequal %}
        <link rel="stylesheet" href="{% static 'interpay/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'interpay/bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static "interpay/bower_components/font-awesome/css/font-awesome.css" %}">
        <link rel="stylesheet" href="{% static "interpay/bower_components/font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'interpay/css/logo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/w3.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'interpay/images/ipay-favicon.ico' %}"/>

    {% endblock css %}
    {% block js %}
        <script src="{% static 'interpay/jquery/jquery-1.10.2.js'%}"></script>
        <!--The next two lines are for warning the user about expiring their session; the script tag should be placed right above the include tag in order for the fancybox to work properly-->
        {% include 'session_security/all.html' %}
        <!-- -->
        <script src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'interpay/jquery/jquery-ui.js' %}"></script>
        <script src="{% static 'interpay/js/sweetalert.min.js' %}"></script>
        <script src="{% static 'interpay/bootstrap/js/bootstrap.min.js' %}"></script>
        <script>
           var openside;
           openside = 0 ;
           openInfo = 0 ;
           function change(x) {
              var y = document.getElementById("edited");
              var z = document.getElementById("profile_name");
              y.style.display = "block";
              z.style.display = "none";
           }

          function normal(x){
              var y = document.getElementById("edited");
              y.style.display = "none"
              var z = document.getElementById("profile_name");
              z.style.display = "block";
             }

          function sidebarfun() {
                openInfo = 1;
                var x = document.getElementById("demo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                    openInfo = 0;
                }
                    }
            function sidebarfunc1() {
                openside = 1;
                var x = document.getElementById("demoo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show"
                }
                else {
                    x.className = x.className.replace("w3-show", "");
                }
            }
           function sidebarfuncscreen() {
               if (openInfo && !openside){
                   var x = document.getElementById("demo");
                   if (x.className.indexOf("w3-show") == -1) {
                       x.className += " w3-show"
                       y.style.display = "none"
                       openInfo = 0;
                   }
                   else {
                       x.className = x.className.replace("w3-show", "");
                       openInfo = 0;
                   }
               }
               else if (openside && !openInfo) {
                   var x = document.getElementById("demoo");
                   if (x.className.indexOf("w3-show") == -1) {
                       x.className += " w3-show"
                       y.style.display = "none"
                       openside = 0;
                   }
                   else {
                       x.className = x.className.replace("w3-show", "");
                       openside = 0;
                   }
               }
               else if ( openside && openInfo){
                   var x = document.getElementById("demo");
                   if (x.className.indexOf("w3-show") == -1) {
                       x.className += " w3-show"
                       y.style.display = "none"
                       openInfo = 0;
                   }
                   else {
                       x.className = x.className.replace("w3-show", "");
                       openInfo = 0;
                   }
                   var x = document.getElementById("demoo");
                   if (x.className.indexOf("w3-show") == -1) {
                       x.className += " w3-show"
                       y.style.display = "none"
                       openside = 0;
                   }
                   else {
                       x.className = x.className.replace("w3-show", "");
                       openside = 0;
                   }
               }
           }

            $(document).ready(function(){
                $("#close").click(function(){
                    openside = 0 ;
                    $("#closeall").hide();
                    $("#sidebar1").show();
                    $("#cont-body").show();
                });
                $("#open").click(function(){
                    $("#closeall").show();
                    $("#sidebar1").hide();

                });
                $("#cont-wrapper").click(function () {
                            openside = 0 ;
                            $("#closeall").hide();
                            $("#sidebar1").show();

                    });

            });

            {% ifequal LANGUAGE_CODE 'fa-ir' %}
           jQuery(document).ready( function() {
           var map =
                [
                "&\#1632;","&\#1633;","&\#1634;","&\#1635;","&\#1636;",
                "&\#1637;","&\#1638;","&\#1639;","&\#1640;","&\#1641;"
                ]

            document.body.innerHTML =
            document.body.innerHTML.replace(
            /\d(?=[^<>]*(<|$))/g,
            function($0) { return map[$0] }
          );
   })
        {% endifequal %}
   </script>
    {% endblock %}

    {% block JS %}
    {% endblock %}
    {% block CSS %}
    {% endblock %}
    <meta charset="UTF-8" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <title>{% block title %}{% trans 'Home Page ' %}- InterPay Iran{% endblock %}</title>
</head>
<script>
    {% block script %}
        $(document).ready(function () {
            console.log(navigator.language);
            console.log(navigator.userLanguage);
        });
    {% endblock %}
    function to_en() {
        var en_url = window.location.href.replace("/fa-ir/", "/");
        window.location.assign(en_url);
    }
</script>
<body style="background: #FEFCEF repeat-y 50% 0;">
<div class="container-fluid" style="padding-left: 0;!important; padding-right: 0;!important;">
    <header>
        <ul class="topnav1">
            <h1  style="margin-top: 1px ; margin-bottom: 3%">
              {% block flag %}
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a id="to-fa-link" href='/fa-ir{{ request.path }}'>
                    <p class="lang"> Fa/Eng</p>
                        <img src="{% static 'interpay/images/irflag.png' %}" class="flag">
                    </a>
                {% else %}
                    <a id="to-en-link" class="trans-link" onclick="to_en()">
                        <p class="lang" style="cursor: pointer"> Eng/Fa </p>
                        <img src="{% static 'interpay/images/ukflag.png' %}" class="flag">
                    </a>
                {% endifequal %}
             {% endblock %}
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a class="sidebar-links" style="color: white" href="/edit">
                {% else %}
                  <a class="sidebar-links" style="color: white" href="/fa-ir/edit">
                {% endifequal%}

                   <div class="edit">
                      <span class="inner_edit" onmouseover="change(this)" onmouseout="normal(this)" id="group_username">
                      <span id="profile_name" style=" display:inline; color: white; display: inline-block; word-wrap: break-word; text-align: center ; font-size: 120%; font-size-adjust: inherit "><span id="inner_username"> {{ user.username }} </span><span id="finishing">{% trans "Profile" %}</span></span>
                      <span id="edited" style =" color: white ;display: none ; word-wrap: break-word; text-align: center ; font-size:small; font-size-adjust: inherit"> edit profile</span>
                      </span>
                       <!-- <image onmouseover="change(this)" onmouseout="normalImg(this)" style="display: inline-block; width: 40px;height: 40px;border-radius: 50%;background-repeat: no-repeat;background-position: center center;
                       background-size: cover;" src = "/static/interpay/media/{{user.UserProfile.national_card_photo}}"/> </span>{#  <span id = "inner_username">{{ user.username }}</span><span>{% trans "'s Profile" %}</span></a>#}
                         --->
                   </div>
                 </a>
                <img  class=" w3-hide-large" style="margin-left: 10px ; margin-bottom: 10px ; margin-top: 1px; " src="{% static 'interpay/images/rizpalfinal.png' %}"  >
                <img  class=" w3-hide-medium w3-hide-small" style="margin-left: 10px ; margin-bottom: 10px ; margin-top: 1px; " src="{% static 'interpay/images/rizpalfinalL.png' %}"  >

            </h1>
        </ul>
    </header>

    {% ifequal LANGUAGE_CODE 'en-gb' %}
        <div id="sidebar" class="pull-left  w3-table w3-bordered w3-hide-small">
    {% else %}
        <div  id="sidebar" class="pull-right w3-table w3-bordered w3-hide-small">
    {% endifequal %}
    <div  id="sidebar-content" class="w3-hide-small">
        <ul id="sidebar-entries" class= w3-hide-small>
            <li class="sidebar-entry" clas="w3-hide-small">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a class="sidebar-links w3-hide-small" href="/home">
                {% else %}
                    <a class="sidebar-links w3-hide-small" href="/fa-ir/home">
                {% endifequal %}
                <i class="fa fa-home sidebar-ent-items w3-hide-small" aria-hidden="true"></i><span class="sidebar-entry-name"> {% trans "Home" %}</span>
                </a>
            </li>
            <li class="dropdown sidebar-entry">
                <a href="#" class="sidebar-links dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-money sidebar-ent-items w3-hide-small" aria-hidden="true"></i><span class="sidebar-entry-name"> {% trans "Wallets" %}</span>
                    <span class="caret sidebar-ent-items"></span>
                </a>
                <ul class="dropdown-menu">
                    <li id="wallet_info">
                        {% ifequal LANGUAGE_CODE 'en-gb' %}
                            <a class="sidebar-links" href="/wallets">
                        {% else %}
                            <a class="sidebar-links" href="/fa-ir/wallets">
                        {% endifequal %}
                        <i><span>{% trans 'Wallet Info' %}</span></i>
                        </a></li>
                    <li id="top_up">
                        {% ifequal LANGUAGE_CODE 'en-gb' %}
                            <a class="sidebar-links" href="/top-up">
                        {% else %}
                            <a class="sidebar-links" href="/fa-ir/top-up">
                        {% endifequal %}
                        <i><span>{% trans 'Top Up by Credit Card' %}</span></i>
                        </a></li>
                </ul>
            </li>
            <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a class="sidebar-links" href="/trans-history">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/trans-history">
                {% endifequal %}
                <i class="fa fa-history sidebar-ent-items" aria-hidden="true"></i><span class="sidebar-entry-name">{% trans 'Transaction History' %}</span>
                </a>
            </li>
                     <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a class="sidebar-links" href="/pay_user/">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/pay_user/">
                {% endifequal %}
                <i class="fa fa-cc-discover sidebar-ent-items" aria-hidden="true"></i> <span class="sidebar-entry-name">{% trans 'Payment' %}</span>
                </a>
             </li>
            <li class="sidebar-entry" >
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a class="sidebar-links" href="/bank-accounts">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/bank-accounts">
                {% endifequal %}
                <i class="fa fa-credit-card sidebar-ent-items" aria-hidden="true"></i><span class="sidebar-entry-name">{% trans "Withdrawals" %}</span>
                </a>
            </li>
            <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a class="sidebar-links" href="/reports">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/reports">
                {% endifequal %}
                <i class="fa fa-file-text-o sidebar-ent-items" aria-hidden="true"></i><span class="sidebar-entry-name">{% trans " Reports" %}</span>
                </a>
            </li>
            <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a class="sidebar-links" href="/general">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/general">
                {% endifequal %}
                <i class="fa fa-bullseye sidebar-ent-items" aria-hidden="true"></i><span class="sidebar-entry-name">{% trans " General" %}</span>
                </a>
            </li>

        </ul>
    </div>
    </div>


    <div id="closeall">
       {% ifequal LANGUAGE_CODE 'en-gb' %}
            <nav id="demoo" class=" fixedmenue w3-hide w3-hide-large w3-hide-medium w3-collapse">
              <div id="sidebar"  class="pull-left w3-table w3-animate-left">
           {% else %}
            <nav id="demoo" class=" fixedmenueFarsi w3-hide w3-hide-large w3-hide-medium w3-collapse">
              <div id="sidebar" style="width: 100%" class=" pull-right w3-table w3-animate-right">
           {% endifequal %}
                <div  id="sidebar-content">
                    <ul id="sidebar-entries">
                        <li style="margin-bottom: 30px" class="w3-hide-medium w3-hide-large">
                          {% ifequal LANGUAGE_CODE 'en-gb' %}
                            <a  class="pull-left w3-closenav" id="close"  href="javascript:void(0);" onclick="sidebarfunc1()">
                          {% else %}
                            <a  class="pull-right w3-closenav" id="close" href="javascript:void(0);" onclick="sidebarfunc1()">
                           {% endifequal %}
                            <span class="sidebar-entry-name-small">{% trans "Close" %}</span>
                            </a>
                        </li>
                        <li class="sidebar-entry">
                            {% ifequal LANGUAGE_CODE 'en-gb' %}
                                <a class="sidebar-links" href="/home">
                            {% else %}
                                <a class="sidebar-links" href="/fa-ir/home">
                            {% endifequal %}
                             <span class="sidebar-entry-name-small">{% trans "Home" %}</span>
                            </a>
                        </li>
                        <li class="dropdown sidebar-entry">
                            <a href="#" class="sidebar-links dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                               <span class="sidebar-entry-name-small">{% trans "Wallets" %}</span>
                                <span class="caret sidebar-ent-items" ></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li id="wallet_info">
                                    {% ifequal LANGUAGE_CODE 'en-gb' %}
                                        <a class="sidebar-links" href="/wallets">
                                    {% else %}
                                        <a class="sidebar-links" href="/fa-ir/wallets">
                                    {% endifequal %}
                                    <i><span>{% trans 'Wallet Info' %}</span></i>
                                    </a></li>
                                <li id="top_up">
                                    {% ifequal LANGUAGE_CODE 'en-gb' %}
                                        <a class="sidebar-links" href="/top-up">
                                    {% else %}
                                        <a class="sidebar-links" href="/fa-ir/top-up">
                                    {% endifequal %}
                                    <i><span>{% trans 'Top Up by Credit Card' %}</span></i>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="sidebar-entry">
                            {% ifequal LANGUAGE_CODE 'en-gb' %}
                                <a class="sidebar-links" href="/trans-history">
                            {% else %}
                                <a class="sidebar-links" href="/fa-ir/trans-history">
                            {% endifequal %}
                             <span class="sidebar-entry-name-small">{% trans " Transaction" %}</span>
                            </a>
                        </li>
                <li class="sidebar-entry">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a class="sidebar-links" href="/pay_user/">
                {% else %}
                    <a class="sidebar-links" href="/fa-ir/pay_user/">
                {% endifequal %}
               <span class="sidebar-entry-name-small">{% trans 'Payment' %}</span>
                </a>
               </li>
                   <li class="sidebar-entry" >
                            {% ifequal LANGUAGE_CODE 'en-gb' %}
                                <a class="sidebar-links" href="/bank-accounts">
                            {% else %}
                                <a class="sidebar-links" href="/fa-ir/bank-accounts">
                            {% endifequal %}
                            <span class="sidebar-entry-name-small">{% trans "Withdrawals" %}</span>
                            </a>
                   </li>
                        <li class="sidebar-entry">
                            {% ifequal LANGUAGE_CODE 'en-gb' %}
                                <a class="sidebar-links" href="/reports">
                            {% else %}
                                <a class="sidebar-links" href="/fa-ir/reports">
                            {% endifequal %}
                            <span class="sidebar-entry-name-small">{% trans " Reports" %}</span>
                            </a>
                        </li>
                        <li class="sidebar-entry">
                            {% ifequal LANGUAGE_CODE 'en-gb' %}
                                <a class="sidebar-links" href="/general">
                            {% else %}
                                <a class="sidebar-links" href="/fa-ir/general">
                            {% endifequal %}
                            <span class="sidebar-entry-name-small">{% trans " General" %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="content">
        <div id="topbar">
            <div   id="info-bar" class="w3-navbar navbar">
               {% ifequal LANGUAGE_CODE 'en-gb' %}
                 <div  id="sidebar1" class=" pull-left w3-navbar w3-hide-medium w3-hide-large w3-left">
               {% else %}
                 <div  id="sidebar1" class=" pull-right w3-navbar w3-hide-medium w3-hide-large w3-right">
               {% endifequal %}
                  <a   id="open" href="javascript:void(0);" onclick="sidebarfunc1()">☰</a>
                 </div>
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
                {% else %}
                <li class="w3-hide-medium w3-hide-large w3-opennav w3-left">
                 {% endifequal %}
                    <a href="javascript:void(0);" onclick="sidebarfun()">{%trans "Info" %}</a>
                </li>
                 {% ifequal LANGUAGE_CODE 'en-gb' %}
                <li  class="w3-hide-small" id="logout" style="float: right">
                {% else %}
                 <li  class="w3-hide-small" id="logout" style="float: left">
                {% endifequal %}
                  <a style="padding-top: 3px; padding-bottom: 3px; margin-bottom: 3px" id="logout-link" href="/logout">

                        <i class="fa fa-power-off" aria-hidden="true"> {% trans "Logout" %}</i>
                    </a>
                </li>
                <li  class="w3-hide-small" id="name">{% trans "Name" %}: <span id="inner_first_name">{{ user.first_name }}</span> <span id="inner_last_name"> {{ user.last_name }} </span> </li>
                <li  class="w3-hide-small" id="Email">{% trans "Email" %}: {{user.email}}</li>
                <li  class="w3-hide-small" id="login-id">{% trans "Login ID" %}: {{ user.id }}</li>
                <li  class="w3-hide-small" id="interpay-id">{% trans "InterPay ID" %}: </li>
            </div>

        </div>
       {% ifequal LANGUAGE_CODE 'en-gb' %}
        <div id="demo" style="width: 30%" class=" fixedInfo sidebar_res w3-hide w3-hide-large w3-hide-medium">
        {% else %}
        <div id="demo" style="width: 30%" class=" fixedInfoFarsi sidebar_res w3-hide w3-hide-large w3-hide-medium">
        {% endifequal %}
            {% ifequal LANGUAGE_CODE 'en-gb' %}
            <ul class="InfoMenue w3-navbar w3-left-align w3-animate-right" style=" float: right">
              {% else %}
                <ul class="InfoMenue w3-navbar pull-left w3-animate-left">
                 {% endifequal %}
                <li   class="sidebar-res_entry" id="name"> {{ user.first_name }} {{ user.last_name }}</li>
                <li   class="sidebar-res_entry" id="Email">{% trans "Email" %}: {{ user.email }}</li>
                <li   class="sidebar-res_entry" id="login-id">{% trans "Login ID" %}: {{ user.id }}</li>
                <li   class="sidebar-res_entry" id="interpay-id">{% trans "InterPay ID" %}: </li>
                <li   class="sidebar-res_entry" id="logout">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a    style="float: left" class="sidebar_res_links" id="logout-link" href="/logout" class="fa fa-power-off" aria-hidden="true">
                 {% else %}
                    <a style="float: none"    class="sidebar_res_links" id="logout-link" href="/logout" class="fa fa-power-off" aria-hidden="true">
                  {% endifequal %}
                {% trans "Logout" %} </a>
                </li>
            </ul>
          </ul>
        </div>

    <section  id="main-content-section">
           <div id="cont-wrapper"  href="javascript:void(0);" onclick="sidebarfuncscreen()">
               <div id="cont-header">
                   {% block cont-header %}
                   {% endblock %}
                   <hr>
               </div>

               <div id="cont-body">
                   {% block cont-body %}
                   {% endblock %}
               </div>

           </div>
    </section>

    <section id="head-section">
        <div id="head">
            {% block head %}
            {% endblock %}
        </div>
    </section>
 </div>
    </div>
    {#    <footer id="footer" class="footer">#}
    {#        <div id="footer-content">All rights reserved.</div>#}
    {#    </footer>#}
</div>
</body>
</html>