{% extends "interpay/base.html" %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/edit.css' %}">
{% endblock %}
{% block JS %}
<script>
      $(document).ready(function(){
                $("#edit").click(function(){
                    $("#edit").hide();
                    $("#first_name").show();
                    $("#edit_name").show();
                });
             $("#edit2").click(function(){
                    $("#edit2").hide();
                    $("#last_name").show();
                    $("#edit_lastname").show();
                });
           $("#edit3").click(function(){
                    $("#edit3").hide();
                    $("#national_id").show();
                    $("#edit_national_id").show();
                });
           $("#edit4").click(function(){
                    $("#edit4").hide();
                    $("#username").show();
                    $("#edit_username").show();
                });
           $("#edit5").click(function(){
                    $("#edit5").hide();
                    $("#photo").show();
                    $("#edit_photo").show();
                });

       });

     function edit_name() {
        var postUrl = "/edit_profile/";
        name = $("#first_name").val();

        $.ajax({
            url: postUrl,
            type: 'POST',
            data: {'name': name, action :'change_name'},
            traditional: true,
            dataType: 'html',
            success: function (result) {
                 var data = JSON.parse(result);
                 $('#success_name').empty()
                 $('#success_name').append(data['html'])
                 $("#inner_first_name").replaceWith(name);
                 $("#edit_change_name").replaceWith(name);
                 $("#edit").show();
                 $("#first_name").hide();
                 $("#edit_name").hide();

                }

        });
    }
function edit_last_name(){
        var postUrl = "/edit_profile/";
        last_name = $("#last_name").val();
        $.ajax({
            url: postUrl,
            type: 'POST',
            data: {'last_name': last_name, action :'change_last_name'},
            traditional: true,
            dataType: 'html',
            success: function (result) {
                 var data = JSON.parse(result);
                 $('#success_name').empty()
                 $('#success_name').append(data['html'])
                 $("#inner_last_name").replaceWith(last_name);
                 $("#edit_change_lastname").replaceWith(last_name);
                 $("#last_name").hide();
                 $("#edit_lastname").hide();
                 $("#edit2").show();


                }
        });
    }
function edit_national_id(){
        var postUrl = "/edit_profile/";
        national_id = $("#national_id").val();
        $.ajax({
            url: postUrl,
            type: 'POST',
            data: {'national_id': national_id, action :'change_national_id'},
            traditional: true,
            dataType: 'html',
            success: function (result) {
                 var data = JSON.parse(result);
                 $('#success_name').empty()
                 $('#success_name').append(data['html'])
                 $("#national_id").hide();
                 $("#edit_national_id").hide();
                 $("#edit3").show();


                }
        });
    }

  function editphoto(){
        var postUrl = "/edit_profile/";
       // filename = $("#photo").val();
       // var national_photo = filename.replace(/^.*\\/, "");
       alert("negar")
        $.ajax({
            url: postUrl,
            type: 'POST',
            data: {action :'change_national_photo'},
            traditional: true,
            dataType: 'html',
            success: function (result) {
                 var data = JSON.parse(result);
                 $('#success_name').empty()
                 $('#success_name').append(data['html'])
                 $("#photo").hide();
                 $("#edit_photo").hide();
                 $("#edit5").show();
            }
        });
    }
function edit_username(){
        var postUrl = "/edit_profile/";
        username = $("#username").val();
        $.ajax({
            url: postUrl,
            type: 'POST',
            data: {'username': username, action :'change_username'},
            traditional: true,
            dataType: 'html',
            success: function (result) {
                 var data = JSON.parse(result);
                 $('#success_name').empty()
                 $('#success_name').append(data['html'])
                 $("#inner_username").replaceWith(username);
                 $("#edit_change_username").replaceWith(username);
                 $("#username").hide();
                 $("#edit_username").hide();
                 $("#edit4").show();
                }
        });
    }
</script>
{% endblock %}

<html lang="en">
 {% block flag %}

 {% endblock %}

 <head>
    <meta charset="UTF-8">
    <title>
        <h3 class="page-title">{% block title %}{% trans 'General' %}{% endblock %}</h3>
    </title>
 </head>

<body>
{% block cont-header %}
    <div>
        <h3 class="page-title">
            {% trans 'Edit Your profile' %}
        </h3>
    </div>
{% endblock %}
{% block cont-body %}
   <div style="color: #67b168" id="success_name"> </div>
   <div id="manage_edit">
    <p><span class="stylename">{%  trans 'First name' %}:</span> <span class = "editcolor" id="edit_change_name"> {{ user.first_name }} </span></p> <i id="edit" class="fa fa-pencil-square-o"  style=" color:white; margin-left: 4% ;cursor:pointer" aria-hidden="true"></i><span  style="color: white"> {%  trans 'Edit' %}</span> <input id="first_name" type="text" name="fname" style="display: none"><br>
    <input id="edit_name"  class ="button_edit" type="button" class="w3-button" value="save" onclick="edit_name()" >
   </div>

    <div id="manage_edit">
    <p><span class="stylename"> {%  trans 'Last name' %}:</span> <span class = "editcolor" id="edit_change_lastname"> {{ user.last_name }}</span></p><i id="edit2" class="fa fa-pencil-square-o"  style=" margin-left: 4% ; color: white; cursor:pointer" aria-hidden="true"></i> <span  style="color: white"> {%  trans 'Edit' %}</span> <input id="last_name" type="text" name="fname" style="display: none"><br>
    <input id="edit_lastname"  class ="button_edit" type="button" class="w3-button" value="save" onclick="edit_last_name()" >
   </div>
    <div id="manage_edit">
    <p><span class="stylename">{%  trans 'National Id Code' %}:</span><span class = "editcolor" id="edit_change_nationalId"> {{ user.national_code }}</span></p><i id="edit3" class="fa fa-pencil-square-o"  style="  margin-left: 4% ; color: white; cursor:pointer" aria-hidden="true"></i> <span  style="color: white"> {%  trans 'Edit' %}</span> <input id="national_id" type="text" name="fname" style="display: none"><br>
    <input id="edit_national_id" class ="button_edit" type="button" class="w3-button" value="save" onclick="edit_national_id()" >
   </div>
   <div id="manage_edit"> <p><span class="stylename">{%  trans 'username' %}:</span><span class = "editcolor" id="edit_change_username"> {{ user.username }}</span></p>
    <i id="edit4" class="fa fa-pencil-square-o"  style="  margin-left: 4% ; color: white; cursor:pointer"  aria-hidden="true"></i> <span  style="color: white"> {%  trans 'Edit' %}</span> <input id="username" type="text" name="fname" style="display: none">
    <input id="edit_username"  class ="button_edit" type="button" class="w3-button" value="save" onclick="edit_username()" >
   </div>
    <!--
    <div>
    <i id="edit5" class="fa fa-pencil-square-o"  style="cursor:pointer" aria-hidden="true"></i> Photo
        <form  style=" display: none" name="national" id="photo" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
        <input id="id_image" type="file" class="" name="image">
    </p>
     <br>
    <input id="edit_photo"  type="button" class="w3-button" value="save" onclick="editphoto()" >
   </form>


   </div>
   -->
{% endblock %}
</body>
</html>