{% extends "interpay/base.html" %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
 {% block flag %}

 {% endblock %}
<head>
    <meta charset="UTF-8">
    <title>
        <h3 class="page-title">{% block title %}{% trans 'General' %}{% endblock %}</h3>
    </title>
</head>
<body>
{% block cont-header %}
    <div>
        <h3 class="page-title">
            {% trans 'General' %}
        </h3>
    </div>
{% endblock %}
{% block cont-body %}
    {% trans 'This page is still under construction ... . we will be at your service soon.' %}
{% endblock %}
</body>
</html>