{% extends "interpay/base.html" %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
 {% block flag %}
 {% endblock %}

 {%  block CSS %}
 {%  endblock %}

 {%  block JS %}
     <script type="text/javascript" src="{% static 'interpay/js/rating.js' %}"></script>
 {% endblock %}

<head>
    <meta charset="UTF-8">
    <title>
        <div style="font-size: xx-large" class="page-title">{% block title %}{% trans 'General' %}{% endblock %}</div>
    </title>
</head>
<body>
{% block cont-header %}
    <div>
        <div style="font-size: xx-large" class="page-title">
            {% trans 'General' %}
        </div>
    </div>
{% endblock %}

{% block cont-body %}

    <div id="interpay-desc">
        <div class="container">
            <div style="color: red;font-weight: bold">
                {% if error %}{{ error }}{% endif %}
            </div>
            <div style="color: green;font-weight: bold">
                    {% if success %}{{ success }}{% endif %}
            </div>

            {% trans 'This page is still under construction ... . we will be at your service soon.' %}
            <br>
            {%  trans 'you can see review of users by specify their email or phone number' %}

            <br><br>

{#            <div class="form-group">#}
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <label id= "label_email" style="float:left; margin-right:2%">
                 {% else %}
                    <label  id= "label_email" style="float:right; margin-left: 2%">
                {% endifequal %}
                    {% trans 'Email' %}:
                    </label>
                 {% ifequal LANGUAGE_CODE 'en-gb' %}
                     <input type="text" name="email" id="email" class="form-control" style="width:150px;margin-right: 80%" >
                {% else %}
                      <input type="text" name="email" id="email" class="form-control" style="width:150px;margin-left: 80%; float:right">
                {% endifequal %}
{#                 </div>#}

{#            <div class="form-group ">#}
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <label id="lable_mobile" style="float: left;margin-right: 2%">
                {%  else %}
                    <label id="lable_mobile" style="float: right; margin-left: 2%">
                {%  endifequal %}
                    {% trans 'Destination Mobile Number:' %}
                </label>
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <input type="text" name="mobile" id="mobile" class="form-control"  style="width:150px; margin-right: 70%">
                {% else %}
                    <input type="text" name="mobile" id="mobile" class="form-control"  style="width:150px; float: right; margin-left: 70%">
                {%  endifequal %}
{#            </div>#}

            {% ifequal LANGUAGE_CODE 'en-gb' %}
                <input type="button"
                       id="review_comment"
                       value="{% trans 'Review Comments' %}"
                       onclick="find_reviewing_user('en-gb')"
                       class="btn btn-info"
                       style="float: left; margin-right: 70%">
            {% else %}
                <input type="button"
                       id="review_comment"
                       value="{% trans 'Review Comments' %}"
                       onclick="find_reviewing_user('fa-ir')"
                       class="btn btn-info"
                       style="float: right; margin-left: 70%">
            {% endifequal %}
        </div>
    </div>
{% endblock %}
</body>
</html>