{% extends 'interpay/base.html' %}
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/home.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
</head>
<body>
{% block cont-header %}
    <div id="welcome-msg" style="font-family: IRAN-web">
        <h3 class="page-title"> {% trans "Welcome to interpay" %}</h3>
    </div>
{% endblock %}
{% block cont-body %}
    <div id="interpay-desc" style="font-family: IRAN-web">
        <p style="border-bottom: dotted; border-color: #F6E3CE ;  padding-top: 3%; padding-bottom: 3% ">

            {% trans 'Interpay is an online electronic service which provides a safe and secure platform for business transactions and e-commerce. No matter you are the merchant or the consumer, we will bring you an enjoyable experience of transaction.' %}
            <br/>
            {% trans 'You can pay your GRE, GMAT, University Fees and others by clicking on payment' %}
        </p>
        <p style="padding-top: 3%; padding-bottom: 3%">
             <b>{% trans 'Your total wallet amount is' %} ~ {{ accountList.first.total_value }}</b>
        </p>
    </div>
{% endblock %}

</body>
</html>