{% extends 'interpay/base.html' %}
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/home.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
</head>
<body>
{% block cont-header %}
    <div id="welcome-msg" style="font-family: IRAN-web">
        <h3 class="page-title"> {% trans "Welcome to interpay" %}</h3>
    </div>
{% endblock %}
{% block cont-body %}
    <div id="interpay-desc" style="font-family: IRAN-web">
        <p style=" border-color: #C69453 ;padding-left: 5%; margin-left: 5%; margin-right: 5%; background-color: #373736; color: white;  padding-top: 3%; padding-bottom: 3% ">

            {% trans 'Interpay is an online electronic service which provides a safe and secure platform for business transactions and e-commerce. No matter you are the merchant or the consumer, we will bring you an enjoyable experience of transaction.' %}
             </br>
        </p>
        <br>
         <p style=" border-color: #C69453 ;padding-left: 5%; margin-left: 5%; margin-right: 5%; background-color: #E59328; color: white;  padding-top: 3%; padding-bottom: 3% ">
            {% trans 'You can pay your GRE, GMAT, University Fees and ... by clicking on'%}  {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a  class="sidebar-links" href="/pay_user/">
                {% else %}
                    <a   class="sidebar-links" href="/fa-ir/pay_user/">
                {% endifequal %}<span style="color: white">{% trans 'payment' %}</span>
           </a>
             <br>
        </p>
        <br>
        <p style=" border-color: #C69453 ;padding-left: 5%; margin-left: 30%; margin-right: 30%; background-color:  #D5D2CF; color: black;width: 30%; display: block; height: 55px; text-align:center; line-height:55px;">
             <b>{% trans 'Your total stock in' %} {% trans 'USD is ' %} ~ {{ accountList.first.total_value }}</b>
        </p>
    </div>
{% endblock %}

</body>
</html>