{% extends 'interpay/base.html' %}
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/home.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
  {% block JS %}
      <script>
          document.addEventListener('DOMContentLoaded', function () {
              if (!Notification) {
                  alert('Desktop notifications not available in your browser. Try Chromium.');
                  return;
              }

              if (Notification.permission !== "granted")
                  Notification.requestPermission();
          });

          function init() {
              var notification_list = document.getElementById("notifications")
              for (var i = 0; i < notification_list.options.length; i++) {
                  var notification = notification_list.options[i].text;
                  parts = notification.split(",");
                  notifyMe(parts[0], parts[1], parts[2]);
              }
          }

          function notifyMe(url, text, notif_id) {
              if (Notification.permission !== "granted")
                  Notification.requestPermission();
              else {
                  var notification = new Notification(text, {
                      icon: src = "{% static 'interpay/images/rizpal.png' %}",
                      requireInteraction: true,
                      tag : notif_id,
                      {#                   body: "Welcome!",#}
                  });
                  notification.requireInteraction = true;
                  notification.onclick = function () {

                      $.ajax({
                          url: "/set_notification_seen/", // the endpoint
                          type: "GET", // http method
                          data: {notif_id: notif_id}, // data sent with the post request

                          // handle a successful response
                          success: function (json) {
                              $.each(json, function (id, value) {
                                  $('#applications').append($('<option>').text(value.value).attr('value', value.value));
                                  console.log(value)
                              });
                          }

                      });
                      window.open(url);
                  };

              }

          }
          window.onload = init;
      </script>
 {% endblock %}
</head>
<body>
{% block cont-header %}
    <div id="welcome-msg" >
        <div style="font-size: xx-large" class="page-title"> {% trans "Welcome to interpay" %}</div>
    </div>
{% endblock %}
{% block cont-body %}
    <div id="interpay-desc">
        <p style="margin-bottom: 20px; border-color: #C69453 ;padding-left: 5%; margin-left: 10%; margin-right: 15%; background-color: #373736; color: white;  padding-top: 3%; padding-bottom: 3% ">

            {% trans 'Interpay is an online electronic service which provides a safe and secure platform for business transactions and e-commerce. No matter you are the merchant or the consumer, we will bring you an enjoyable experience of transaction.' %}

        </p>

         <p style=" margin-bottom: 20px; border-color: #C69453 ;padding-left: 5%; margin-left: 10%; margin-right: 15%; background-color: #E59328; color: white;  padding-top: 3%; padding-bottom: 3% ">
            {% trans 'You can pay your GRE, GMAT, University Fees and ... by clicking on'%}  {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <a  class="sidebar-links" href="/pay_user/">
                {% else %}
                    <a   class="sidebar-links" href="/fa-ir/pay_user/">
                {% endifequal %}<span style="color: white">{% trans 'payment' %}</span>
           </a>
        </p>
    <div style=" border-color: #C69453 ;padding-left: 5%; margin-left: 30%; margin-right: 30%; background-color:  #D5D2CF; color: black;width: 30%; display: block; height: 13%; text-align:center;">

{#        <p style=" border-color: #C69453 ;padding-left: 5%; margin-left: 30%; margin-right: 30%; background-color:  #D5D2CF; color: black;width: 30%; display: block; height: 13%; text-align:center;">#}
             {% trans 'Your total wallet value is' %}
       :
            {{ accountList.first.total_value }} USD
    </div>
        <select id="notifications" style="display: none">
            {% for item in notifications %}
                <option>
                    {{ item.url }},{{ item.text }},{{ item.id }}
                </option>
            {% endfor %}
        </select>
{#        {% for item in notifications %}#}
{#            <input type="button" onclick="notifyMe('{{ item.url }}', '{{ item.text }}')" value="abc">#}
{#        {% endfor %}#}
    </div>
{% endblock %}

</body>
</html>