{% extends 'interpay/registeration_form.html' %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InterPay Iran</title>
    {% block CSS %}
        <link rel="stylesheet" href="{% static 'interpay/css/index.css' %}">
    {% endblock %}
</head>
<body>

<script>
    {% block script %}
        function forgot_pass() {
            swal({
                title: "Password Retrieval",
                text: "Enter your email please.",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "Email"
            }, function (inputValue) {
                if (inputValue === "") {
                    swal.showInputError("You should enter your email.");
                    return false
                }
                var postUrl = "/retrieve_pass/";
                $.ajax({
                    url: postUrl,
                    type: 'POST',
                    data: {
                        'email': inputValue,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    traditional: true,
                    dataType: 'html',
                    success: function (result) {
                        if (result == "Invalid Email") {
                            swal(result, "Your Email is not valid. Contact support.", "error");
                        }
                        else if (result == "No such user"){
                            swal(result, "There is no user with this email.", "error");
                        }else{
                            swal(result, "A new password was sent to your email.", "success");
                        }
                        // for now, this method is the same as sending a common sms, but it has to be improved
                        // to generating a more secure password and email it as well as SMSing #TODO

                    }

                });
            });
        }
    {% endblock %}

</script>
<header>
    <div class="top-bar">
        <div class="container" style="color: white;">
            <b>{% block header_title %}
                Welcome to InterPay Iran (Rizpardakht)
            {% endblock %}</b>

            <div class="row">
                <div id="number" class="col-sm-6 col-xs-4"></div>
                <div id="social" class="col-sm-6 col-xs-8"></div>
            </div>
        </div>
    </div>
    <nav></nav>
</header>
<section>
    <div class="container">
        <div class="row">
            {% block main-cont %}

                <div class="col-xs-12" style="text-align: center  ">
                    <h3 style="margin-top: 40px; font-family: IRAN-web" >{% trans 'Welcome to Interpay Iran' %}- Launching First Quarter  {% ifequal LANGUAGE_CODE 'en-gb' %}<span style="font-family: Times New Roman, Times, serif">2017 {% else %}2017 {%  endifequal %}</span></h3>

                    <div class="form-wrapper" id="login-form-wrapper">
                        <div id="login-box-hdr" style="font-size: larger"><i class="fa fa-sign-in"
                                                                             style="padding-right: 5px"
                                                                             aria-hidden="true"></i>
                            {% trans 'Login to Interpay' %}
                        </div>
                        <div>{% block message %}
                            {% if msg %}
                                {#                                TODO this style should be omitted and implemented via registration-form.css #}
                                <div class="form-msg"
                                     style="padding: 10px 5px;color: red;font-size: small;margin-top: 5px"><i
                                        class="fa fa-exclamation-triangle" style="color: red"
                                        aria-hidden="true"></i> {{ msg }}</div>
                            {% endif %}
                        {% endblock %}</div>
                        <hr>
                        {% ifequal LANGUAGE_CODE 'en-gb' %}
                         <form id="login_form" method="post" action="/login/">
                        {% else %}
                          <form id="login_form" method="post" action="/fa-ir/login/">
                        {% endifequal %}
                            {% csrf_token %}
                            <div id="username-div"><input class="login-form-field" type="text" name="username"
                                                          id="username" value=""
                                                          placeholder="Username" size="50"/>
                            </div>
                            <div id="password-div"><input class="login-form-field" type="password" name="password"
                                                          id="password" value=""
                                                          placeholder="Password" size="50"/>
                            </div>
{#                            {{ captcha_form }}#}
                            <div class="g-recaptcha" style="transform:scale(0.60); transform-origin:0 0" data-theme="light"  data-sitekey="6LfHKRMUAAAAABhBgggT5PR293yWX8jSWamrxJCl"></div>

                                     <div style="color:red;font-weight:bold">
                                {% if error %}
                                    {{ error }}
                                {% endif %}
                            </div>

                            {#                            <input type="text" id="mobile_number" name="mobile_number" placeholder="111-111-1111"#}
                            {#                                   required>#}
                            {#                            <button class="btn" type="button" onClick="send_pin()"><i class="icon-share"></i> Get PIN#}
                            {#                            </button>#}
                            <div id="lgn-btn-div" style="text-align: center"><input
                                    id="login-btn"
                                    class="btn btn-info" type="submit"
                                    value="{% trans 'Login' %}"/></div>
                        </form>
                        <div id="forgot-pass-div" style="text-align: center"><h6><a
                                onclick="forgot_pass()">{% trans 'Forgot password or account disabled ?' %}</a></h6>
                        </div>
                    </div>
                    <div id="register-link-div" style="font-family: IRAN-web">
                        <h6>{% trans "Don't have an account yet?" %}</h6>
                        {% ifequal LANGUAGE_CODE 'en-gb' %}
                            <a id="register-link" href="/register/">
                            {% else %}
                            <a id="register-link" href="/fa-ir/register/">
                        {% endifequal %}
                        {% trans 'Create One!' %}
                        </a><br/>

                        {#                        <a id="register-link" href="/register/">{% trans 'Create One!' %}</a>#}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</section>


</body>
</html>