{% extends 'interpay/top_bar.html' %}

{% load i18n %}
{% load static %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%  block title %}
            InterPay Iran
        {%  endblock %}
    </title>


</head>

<body id="body" data-spy="scroll" data-target="interpay" style="background: #f9f9f9">
{% block cont-body %}

    <section id="intro" class="intro-section">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>

                    <li data-transition="boxslide" data-slotamount="10" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                    <div class="first_image" style="margin-top: 12%">
                        <img class="img1" src="{% static 'interpay/images/first_page1.png' %}" style="display: none; width:650px; height: 600px; margin-right: auto; margin-left: auto; margin-bottom: auto">
                        <img class="img2" src="{% static 'interpay/images/first_page2.png' %}" style="display: none; width:650px; height: 600px; margin-left: 20%; margin-right: auto; margin-bottom: auto">

                    </div>

                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="10"
                             data-speed="800"
                             data-start="1000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300" style="font-size: xx-large">
                            {% ifequal LANGUAGE_CODE 'fa-ir' %}
                                                            اولین سامانه پرداخت آنلاین رسمی با حمایت بین المللی
                            {% else %}
                             FIRST OFFICIAL ONLINE PAYMENT SYSTEM WITH INTERNATIONAL SUPPORT
                            {% endifequal %}
                        </div>

                        <!-- LAYER -->
                    <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="150"
                             data-speed="1000"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            {% ifequal LANGUAGE_CODE 'fa-ir' %}
                            آسان
                            {% else %}
                             Easy
                            {% endifequal %}
                        </div>

                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="220"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                             {% ifequal LANGUAGE_CODE 'fa-ir' %}
                                 بهبود امنیت
                            {% else %}
                            Enhances Security
                            {% endifequal %}
                        </div>

                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="290"
                             data-speed="1000"
                             data-start="4000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            {% ifequal LANGUAGE_CODE 'fa-ir' %}
                            بهبود بازده گردش کار
                            {% else %}
                            Improved Workflow Efficiencies
                            {% endifequal %}
                        </div>



                    </li>


                </ul>
{#                <div class="tp-bannertimer tp-bottom"></div>#}
{#                <div class="tp-dottedoverlay twoxtwo"></div>#}

            </div>

        </div>

    </section>


{#    <div class="clearfix"></div>#}



<!--
                    <div class="col-md-6">
                        <ul class="list-inline footer-social pull-right">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="https://www.facebook.com/interpayafrica/?ref=m_notif">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="https://twitter.com/interpayafrica">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="linkedin" href="https://www.linkedin.com/company/interpayafrica">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
{#                </div>#}
{#            </div>#}
{#        </div><!--/copyright-->#}
{#    </div>#}
    <!-- Footer simple END -->



    <script>
        jQuery(document).ready(function () {
            App.init();
{#            App.initParallaxBg();#}
            RevolutionSlider.initRSfullScreen();
        });
    </script>

    <script>
    $(window).load(function() {
        setTimeout(function () {$(".img1").delay(5000).fadeIn(1000);})
        setTimeout(function () {$(".img2").delay(5000).fadeIn(1000);})
    }
    )
    </script>

{% endblock %}
    </body>

</html>
