{% extends 'interpay/top_bar.html' %}

{% load i18n %}
{% load static %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        InterPay Iran
    </title>


</head>

<body id="body" data-spy="scroll" data-target="interpay" style="background: #f9f9f9">
{% block cont-body %}

    <section id="intro" class="intro-section">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                       <!--
                       <img src="Content/HomePages/images/slider/slider01.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
-->

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="10"
                             data-speed="800"
                             data-start="1000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            {% ifequal LANGUAGE_CODE 'fa-ir' %}
                                                            اولین سامانه پرداخت آنلاین رسمی با حمایت بین المللی
                            {% else %}
                             FIRST OFFICIAL ONLINE PAYMENT SYSTEM WITH INTERNATIONAL SUPPORT
                            {% endifequal %}
                        </div>

                        <!-- LAYER -->
                    <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="150"
                             data-speed="1000"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            {% ifequal LANGUAGE_CODE 'fa-ir' %}
                            آسان
                            {% else %}
                             Easy
                            {% endifequal %}
                        </div>

                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="220"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                             {% ifequal LANGUAGE_CODE 'fa-ir' %}
                                 بهبود امنیت
                            {% else %}
                            Enhances Security
                            {% endifequal %}
                        </div>

                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="290"
                             data-speed="1000"
                             data-start="4000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            {% ifequal LANGUAGE_CODE 'fa-ir' %}
                            بهبود بازده گردش کار
                            {% else %}
                            Improved Workflow Efficiencies
                            {% endifequal %}
                        </div>



                    </li>


                </ul>
{#                <div class="tp-bannertimer tp-bottom"></div>#}
{#                <div class="tp-dottedoverlay twoxtwo"></div>#}
            </div>
        </div>
    </section>


    <div class="clearfix"></div>

<!--
                    <div class="col-md-6">
                        <ul class="list-inline footer-social pull-right">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="https://www.facebook.com/interpayafrica/?ref=m_notif">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="https://twitter.com/interpayafrica">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="linkedin" href="https://www.linkedin.com/company/interpayafrica">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
{#                </div>#}
{#            </div>#}
{#        </div><!--/copyright-->#}
{#    </div>#}
    <!-- Footer simple END -->



    <script>
        jQuery(document).ready(function () {
            App.init();
{#            App.initParallaxBg();#}
            RevolutionSlider.initRSfullScreen();
        });
    </script>
{% endblock %}
    </body>

