{% extends 'interpay/base.html' %}
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
 {% block flag %}

{% endblock %}
<head>

    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/pay_user.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/r.css' %}">
    {% endblock %}

    {% block JS %}
        <script type="text/javascript" src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'interpay/js/rating.js' %}"></script>

    {% endblock %}

    <meta charset="UTF-8">

    {% block head %}

{% endblock %}
</head>
<body>

<script>
    {% block script %}

        function apear(x)
        {
            if(x=="gre")
            {
             document.getElementById("email").value = "gre@rizpardakht.com"
              /*TODO need phone */
             document.getElementById("pay").style.display= "block"
             document.getElementById("email").style.display= "none"
             document.getElementById("mobile").style.display= "none"
             document.getElementById("lable_email").style.display= "none"
             document.getElementById("lable_mobile").style.display= "none"
             document.getElementById("currGRE").style.display = "block"
             document.getElementById("curr_uni_google").style.display = "none"
             document.getElementById("curr").style.display = "none"
             document.getElementById("gre").style.background= "#FECB98"
             document.getElementById("university").style.background= ""
             document.getElementById("gmat").style.background= ""
             document.getElementById("googleplay").style.background= ""
             document.getElementById("other").style.background= ""
             document.getElementById("review").style.display="none"

            }
            if(x=="gmat")
            {
             document.getElementById("email").value = "gmat@rizpardakht.com"
              /*TODO need phone */
             document.getElementById("pay").style.display= "block"
             document.getElementById("email").style.display= "none"
             document.getElementById("mobile").style.display= "none"
             document.getElementById("lable_email").style.display= "none"
             document.getElementById("lable_mobile").style.display= "none"
             document.getElementById("currGRE").style.display = "block"
             document.getElementById("curr_uni_google").style.display = "none"
             document.getElementById("curr").style.display = "none"
             document.getElementById("gmat").style.background= "#FECB98"
             document.getElementById("gre").style.background= ""
             document.getElementById("university").style.background= ""
             document.getElementById("googleplay").style.background= ""
             document.getElementById("other").style.background= ""
             document.getElementById("review").style.display="none"

            }
            if(x=="university")
            {
                document.getElementById("email").value = "uni@rizpardakht.com"
                 /*TODO need phone */
                document.getElementById("pay").style.display= "block"
                document.getElementById("email").style.display= "none"
                document.getElementById("mobile").style.display= "none"
                document.getElementById("lable_email").style.display= "none"
                document.getElementById("lable_mobile").style.display= "none"
                document.getElementById("currGRE").style.display = "none"
                document.getElementById("curr_uni_google").style.display = "block"
                document.getElementById("curr").style.display = "none"
                document.getElementById("gre").style.background= ""
                document.getElementById("gmat").style.background= ""
                document.getElementById("university").style.background= "#FECB98"
                document.getElementById("googleplay").style.background= ""
                document.getElementById("other").style.background= ""
                document.getElementById("review").style.display="none"
            }
             if(x=="googleplay")
            {
                document.getElementById("email").value = "googleplay@rizpardakht.com"
                /*TODO need phone */
                document.getElementById("pay").style.display= "block"
                document.getElementById("email").style.display= "none"
                document.getElementById("mobile").style.display= "none"
                document.getElementById("lable_email").style.display= "none"
                document.getElementById("lable_mobile").style.display= "none"
                document.getElementById("currGRE").style.display = "none"
                document.getElementById("curr_uni_google").style.display = "block"
                document.getElementById("curr").style.display = "none"
                document.getElementById("gre").style.background= ""
                document.getElementById("university").style.background= ""
                document.getElementById("gmat").style.background= ""
                document.getElementById("googleplay").style.background= "#FECB98"
                document.getElementById("other").style.background= ""
                document.getElementById("review").style.display="none"
            }
           if(x=="other")
             {
               document.getElementById("pay").style.display= "block"
               var inf = $('#error').text();
               alert(inf)
               if( $('#error').text().length != 14)
               {document.getElementById("email").value = ""}
               document.getElementById("email").style.display= "block"
               document.getElementById("mobile").style.display= "block"
               document.getElementById("lable_email").style.display= "block"
               document.getElementById("lable_mobile").style.display= "block"
               document.getElementById("currGRE").style.display = "none"
               document.getElementById("curr_uni_google").style.display = "none"
               document.getElementById("curr").style.display = "block"
               document.getElementById("gre").style.background= ""
               document.getElementById("university").style.background= ""
               document.getElementById("googleplay").style.background= ""
               document.getElementById("gmat").style.background= ""
               document.getElementById("other").style.background= "#FECB98"
               document.getElementById("review").style.display="none"
             }
        }

        function fill_modal() {
                var email = document.getElementById("email");
                var mobile = document.getElementById("mobile");
                var comment = document.getElementById("comment");
                var amount = document.getElementById("amount");

                var modal_email = document.getElementById("modal_email");
                var modal_mobile = document.getElementById("modal_mobile");
                var modal_comment = document.getElementById("modal_comment");
                var modal_amount = document.getElementById("modal_amount");
                modal_email.innerHTML = email.value
                modal_mobile.innerHTML = mobile.value
                modal_comment.innerHTML = comment.value
                modal_amount.innerHTML = amount.value

        }
        function choice(select) {
            if(select.options[select.selectedIndex].id == "gre")
            {
              document.getElementById("email").value = "gre@rizpardakht.com"
              /*TODO need phone */
              document.getElementById("pay").style.display= "block"
             document.getElementById("email").style.display= "none"
             document.getElementById("mobile").style.display= "none"
             document.getElementById("lable_email").style.display= "none"
             document.getElementById("lable_mobile").style.display= "none"
             document.getElementById("currGRE").style.display = "block"
             document.getElementById("curr_uni_google").style.display = "none"
             document.getElementById("curr").style.display = "none"
             document.getElementById("gre").style.background= "#FECB98"
             document.getElementById("university").style.background= ""
             document.getElementById("gmat").style.background= ""
             document.getElementById("googleplay").style.background= ""
             document.getElementById("other").style.background= ""
            }
             if(select.options[select.selectedIndex].id =="gmat")
            {
             document.getElementById("email").value = "gmat@rizpardakht.com"
              /*TODO need phone */
             document.getElementById("pay").style.display= "block"
             document.getElementById("email").style.display= "none"
             document.getElementById("mobile").style.display= "none"
             document.getElementById("lable_email").style.display= "none"
             document.getElementById("lable_mobile").style.display= "none"
             document.getElementById("currGRE").style.display = "block"
             document.getElementById("curr_uni_google").style.display = "none"
             document.getElementById("curr").style.display = "none"
             document.getElementById("gmat").style.background= "#FECB98"
             document.getElementById("gre").style.background= ""
             document.getElementById("university").style.background= ""
             document.getElementById("googleplay").style.background= ""
             document.getElementById("other").style.background= ""

            }
            if(select.options[select.selectedIndex].id =="university")
            {
                document.getElementById("email").value = "uni@rizpardakht.com"
                 /*TODO need phone */
                document.getElementById("pay").style.display= "block"
                document.getElementById("email").style.display= "none"
                document.getElementById("mobile").style.display= "none"
                document.getElementById("lable_email").style.display= "none"
                document.getElementById("lable_mobile").style.display= "none"
                document.getElementById("currGRE").style.display = "none"
                document.getElementById("curr_uni_google").style.display = "block"
                document.getElementById("curr").style.display = "none"
                document.getElementById("gre").style.background= ""
                document.getElementById("gmat").style.background= ""
                document.getElementById("university").style.background= "#FECB98"
                document.getElementById("googleplay").style.background= ""
                document.getElementById("other").style.background= ""
            }
             if(select.options[select.selectedIndex].id =="googleplay")
            {
                document.getElementById("email").value = "googleplay@rizpardakht.com"
                /*TODO need phone */
                document.getElementById("pay").style.display= "block"
                document.getElementById("email").style.display= "none"
                document.getElementById("mobile").style.display= "none"
                document.getElementById("lable_email").style.display= "none"
                document.getElementById("lable_mobile").style.display= "none"
                document.getElementById("currGRE").style.display = "none"
                document.getElementById("curr_uni_google").style.display = "block"
                document.getElementById("curr").style.display = "none"
                document.getElementById("gre").style.background= ""
                document.getElementById("university").style.background= ""
                document.getElementById("gmat").style.background= ""
                document.getElementById("googleplay").style.background= "#FECB98"
                document.getElementById("other").style.background= ""
            }
           if(select.options[select.selectedIndex].id =="other")
             {
               document.getElementById("pay").style.display= "block"
               /*document.getElementById("email").value = ""*/
               document.getElementById("email").style.display= "block"
               document.getElementById("mobile").style.display= "block"
               document.getElementById("lable_email").style.display= "block"
               document.getElementById("lable_mobile").style.display= "block"
               document.getElementById("currGRE").style.display = "none"
               document.getElementById("curr_uni_google").style.display = "none"
               document.getElementById("curr").style.display = "block"
               document.getElementById("gre").style.background= ""
               document.getElementById("university").style.background= ""
               document.getElementById("googleplay").style.background= ""
               document.getElementById("gmat").style.background= ""
               document.getElementById("other").style.background= "#FECB98"
             }


         }
    {% endblock %}
</script>

{% block cont-header %}
    <div id="welcome-msg" style="font-family: IRAN-web">
        <h3 class="page-title"> {% trans "Pay to user" %}</h3>
    </div>
{% endblock %}
{% block cont-body %}
    <div id="interpay-desc" style="font-family: IRAN-web">
        <div class="container">
        <div id="error" style="color: red;font-weight: bold">
                {% if error %}{{ error }}{% endif %}
        </div>
         <div style="color: green;font-weight: bold">
                    {% if success %}{{ success }}{% endif %}
        </div>
        <div class ="w3-hide-small">
        <button id="gre" class=" select_button w3-button w3-round-xxlarge w3-border w3-hover-green"   style="margin-left:1%"   onclick="apear(this.id)">{% trans "Pay"%}GRE</button>
        <button id="gmat" class=" select_button w3-button w3-round-xxlarge w3-border w3-hover-green"   style="margin-left:1%"   onclick="apear(this.id)">{% trans "Pay"%}Gmat</button>
        <button id="university" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green"  style="margin-left:1%" onclick="apear(this.id)"> {% trans "University Fees" %}</button>
        <button id="googleplay" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green"  style="margin-left:1%"  onclick="apear(this.id)" >{% trans "Google play" %}</button>
        <button id="other" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green"   style="margin-left:1%" onclick="apear(this.id)">{% trans "Other Payments" %}</button>
        </div>
        <div class="w3-hide-medium w3-hide-large">
           <div style="font-size: medium"> Select Your Payment: </div>
            <br>
         <select id="test-dropdown" onchange="choice(this)"  style="width:110px">
                        <option id="gre" class=" select_button w3-button w3-round-xxlarge w3-border w3-hover-green" >GRE</option>
                        <option id="gmat" class=" select_button w3-button w3-round-xxlarge w3-border w3-hover-green" >GMAT</option>
                        <option id="university" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green" >University fees</option>
                        <option id="googleplay" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green" >Google Play</option>
                        <option id="other" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green" >other</option>
          </select>
         </div>

         <br><br>
            <form id="pay" method="post" action="/pay_user/" style="display: none;">
                {% csrf_token %}
                {#                <div class="row">#}
                <div class="form-group" style="padding: 0">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <label style="padding:0;">
                 {% else %}
                    <label  style="padding:0; float:right">
                {% endifequal %}
                    {% trans 'Amount' %}
                    </label>
                 {% ifequal LANGUAGE_CODE 'en-gb' %}
                     <input type="text" name="amount" value="{{ amount }}" id="amount" class="form-control" style="width:150px;margin-right: 3%" >
                {% else %}
                      <input type="text" name="amount" value="{{ amount }}" id="amount" class="form-control" style="width:150px;margin-left: 5%; float:right">
                {% endifequal %}
                 </div>

                 <span class="form-group" style="padding: 0">

                {% ifequal LANGUAGE_CODE 'en-gb' %}
                   <label style="display:block">
                {% else %}
                    <div class="w3-hide-large ; w3-hide-medium">
                    <br><br>
                    </div>
                    <label style="display:block ; float: right">
                {% endifequal %}
                         {% trans 'Currency' %}
                 </label>
                    <select id="currGRE"name="currency" class="form-control"  style="width:110px; display: none">

                        <option value="USD">Dollar</option>

                    </select>
                    <select id="curr_uni_google"name="currency" class="form-control"  style="width:110px; display: none">

                        <option value="USD">Dollar</option>
                        <option value="EUR">Euro</option>
                    </select>
                    <select id="curr"name="currency" class="form-control"  style="width:110px; display: none">
                        <option value="IRR">Rial</option>
                        <option value="USD">Dollar</option>
                        <option value="EUR">Euro</option>
                    </select>
                </span>

               {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <div class="form-group" style="float: left ; margin-right: 3%">
                {% else %}
                    <div class="form-group" style="float: right ; margin-left: 3%">
                {% endifequal %}
                    <label id="lable_email"style="display:block">
                          {% trans 'Destination Email:' %}
                    </label>
                    <input type="text" value="{{ mobile }}" name="email" id="email" class="form-control" style="width:300px">
                </div>
                <script>
                    function showButton(a){
                        if (a==1)
                            document.getElementById("review").style.display='block';
                        else
                            document.getElementById("review").style.display='none';
                    }
                </script>

                <div class="form-group ">
                   <label id="lable_mobile" style="display:block">
                          {% trans 'Destination Mobile Number:' %}
                    </label>
                    <input type="text" name="mobile" id="mobile" class="form-control" value="{{ mobile }}" style="width:300px">
                </div>

                <input type="button"
                       id="review"
                       value="{% trans 'Review Details' %}"
                       data-toggle="modal"
                       data-target="#ReviewModal"
                       onclick="rating_fun({{ rate_percentage }})"
                       class="btn btn-info">
               <div class="modal fade" id="ReviewModal" role="dialog">
                    <div class="modal-dialog" style="width:300px">
                        <div class="modal-content">
                            <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="text-align: center">{%  trans 'Review Details' %}</h4>
                            </div>
                            <div class="modal-body">

                               <div class="star-ratings-sprite">
                                   <span class="star-ratings-sprite-rating" id="star-ratings-sprite-rating"></span>
                               </div>
                                <div id="num_reviews" class="faded_text">
					                <span class="count" id="count">
                                    </span>
                                    reviews
                                </div>

                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">
                                    {%  trans 'Close' %}
                                </button>
                                {% ifequal LANGUAGE_CODE 'en-gb' %}
                                    <input type="button"
                                    id="review_comment"
                                    value="{% trans 'Show comments' %}"
                                    onclick="find_reviewing_user('en-gb')"
                                    class="btn btn-default"
                                    style="float: left;">
                                {% else %}
                                    <input type="button"
                                    id="review_comment"
                                    value="{% trans 'Show comments' %}"
                                    onclick="find_reviewing_user('fa-ir')"
                                    class="btn btn-info"
                                    style="float: left;">
                                {% endifequal %}
{#                                <a href="{% url 'review_comments' %}" class="btn btn-default" style="float: left;">{%  trans 'Show comments' %}</a>#}



                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="input_rate" id="input_rate">

                <div class="form-group">
                   <label style="display:block">
                    {% trans 'Comment' %}
                    </label>
                    <textarea id="comment" name="comment" class="form-control" style="width:300px">{{ comment }}</textarea>
                </div>
                {#                </div>#}
                <input type="button"
                       id="confirm"
                       onclick="fill_modal()"
                       value="{% trans 'Confirm' %}"
                       data-toggle="modal"
                       data-target="#myModal"
                       class="btn btn-info">
                <div class="container">
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" style="width:300px">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="text-align: center">{% trans 'Payment Confirmation' %}</h4>
                                </div>
                                <div class="modal-body">
                                    <label>{% trans 'Amount' %}:</label>
                                    <span id="modal_amount"></span>
                                    <br>
                                    <label>{%  trans 'Email' %}:</label>
                                    <span id="modal_email"></span>
                                    <br>
                                    <label>{%  trans 'Mobile' %}:</label>
                                    <span id="modal_mobile"></span>
                                    <br>
                                    <label>{%  trans 'Comment' %}:</label>
                                    <span id="modal_comment"></span>
                                    <br>

                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="{% trans 'Submit' %}" class="btn btn-default" style="float: left;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            style="float: left;">{% trans 'Close' %}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>

{% endblock %}

</body>
</html>