{% extends 'interpay/base.html' %}
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
 {% block flag %}

{% endblock %}
<head>
    <script type="text/javascript" src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/home.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    {#    <title>{% block title %}#}
    {#        {% trans 'Home Page' %}#}
    {#    {% endblock %}</title>#}
</head>
<body>
<script>
    {% block script %}
        function fill_modal() {
            var email = document.getElementById("email");
            var mobile = document.getElementById("mobile");
            var comment = document.getElementById("comment");
            var amount = document.getElementById("amount");

            var modal_email = document.getElementById("modal_email");
            var modal_mobile = document.getElementById("modal_mobile");
            var modal_comment = document.getElementById("modal_comment");
            var modal_amount = document.getElementById("modal_amount");
            modal_email.innerHTML = email.value
            modal_mobile.innerHTML = mobile.value
            modal_comment.innerHTML = comment.value
            modal_amount.innerHTML = amount.value

        }
    {% endblock %}
</script>

{% block cont-header %}
    <div id="welcome-msg" style="font-family: IRAN-web">
        <h3 class="page-title"> {% trans "Pay to user" %}</h3>
    </div>
{% endblock %}
{% block cont-body %}
    <div id="interpay-desc" style="font-family: IRAN-web">
        <div class="container">
            <form method="post" action="/pay_user/">
                {% csrf_token %}
                {#                <div class="row">#}


                <div class="form-group col-lg-2" style="padding:0">
                     {% ifequal LANGUAGE_CODE 'en-gb' %}
                   <label style="display:block">
                {% else %}
                    <label style="display:block ; float: right">
                {% endifequal %}
                    {% trans 'Amount' %}
                    </label>
                    <input type="text" name="amount" id="amount" class="form-control" style="width:150px;">
                </div>

                <div class="form-group" style="padding: 0">
                      {% ifequal LANGUAGE_CODE 'en-gb' %}
                   <label style="display:block">
                {% else %}
                    <label style="display:block ; float: right">
                {% endifequal %}
                         {% trans 'currency' %}
                    </label>
                    <select name="currency" class="form-control"  style="width:110px">
                        <option value="IRR">Rial</option>
                        <option value="USD">Dollar</option>
                        <option value="EUR">Euro</option>
                        <option value="GBP">Pound</option>
                    </select>
                </div>
                {#                </div>#}
                {#                <div class="row">#}

                {#                </div>#}
                {#                <div class="row">#}
                <div class="form-group">
                     {% ifequal LANGUAGE_CODE 'en-gb' %}
                   <label style="display:block">
                {% else %}
                    <label style="display:block ; float: right">
                {% endifequal %}
                        {% trans 'Destination Email:' %}
                    </label>
                    <input type="text" name="email" id="email" class="form-control" style="width:300px">
                </div>
                {#                </div>#}
                {#                <div class="row">#}
                <div class="form-group ">
                    {% ifequal LANGUAGE_CODE 'en-gb' %}
                   <label style="display:block">
                {% else %}
                    <label style="display:block ; float: right">
                {% endifequal %}
                          {% trans ' Destination Mobile Number:' %}
                    </label>
                    <input type="text" name="mobile" id="mobile" class="form-control" style="width:300px">
                </div>
                {#                </div>#}
                {#                <div class="row">#}
                <div class="form-group ">
                     {% ifequal LANGUAGE_CODE 'en-gb' %}
                   <label style="display:block">
                {% else %}
                    <label style="display:block ; float: right">
                {% endifequal %}
                    {% trans 'Comment:' %}
                    </label>
                    <textarea id="comment" name="comment" class="form-control" style="width:300px"></textarea>
                </div>
                {#                </div>#}
                <div style="color: red;font-weight: bold">
                    {% if error %}{{ error }}{% endif %}
                </div>
                <div style="color: green;font-weight: bold">
                    {% if success %}{{ success }}{% endif %}
                </div>
                <input type="button"
                       id="confirm"
                       onclick="fill_modal()"
                       value="Confirm"
                       data-toggle="modal"
                       data-target="#myModal"
                       class="btn btn-info">
                <div class="container">
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" style="width:300px">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Payment Confirmation</h4>
                                </div>
                                <div class="modal-body">
                                    <label>Amount:</label>
                                    <span id="modal_amount"></span>
                                    <br>
                                    <label>Email:</label>
                                    <span id="modal_email"></span>
                                    <br>
                                    <label>Mobile:</label>
                                    <span id="modal_mobile"></span>
                                    <br>
                                    <label>Comment:</label>
                                    <span id="modal_comment"></span>

                                </div>

                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-default" style="float: left;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            style="float: left;">Close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
{% endblock %}

</body>
</html>