{% extends 'interpay/base.html' %}
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
 {% block flag %}

{% endblock %}
<head>
    <script type="text/javascript" src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/pay_user.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    {#    <title>{% block title %}#}
    {#        {% trans 'Home Page' %}#}
    {#    {% endblock %}</title>#}
</head>
<body>
<script>
    {% block script %}
        function apear(x)
        {
            if(x=="gre")
            {
             document.getElementById("email").value = "gre@rizpardakht.com"
              /*TODO need phone */
             document.getElementById("pay").style.display= "block"
             document.getElementById("email").style.display= "none"
             document.getElementById("mobile").style.display= "none"
             document.getElementById("lable_email").style.display= "none"
             document.getElementById("lable_mobile").style.display= "none"
             document.getElementById("gre").style.background= "#FECB98"
             document.getElementById("university").style.background= ""
             document.getElementById("googleplay").style.background= ""
             document.getElementById("other").style.background= ""

            }
            if(x=="university")
            {
                document.getElementById("email").value = "uni@rizpardakht.com"
                 /*TODO need phone */
                document.getElementById("pay").style.display= "block"
                document.getElementById("email").style.display= "none"
                document.getElementById("mobile").style.display= "none"
                document.getElementById("lable_email").style.display= "none"
                document.getElementById("lable_mobile").style.display= "none"
                document.getElementById("gre").style.background= ""
                document.getElementById("university").style.background= "#FECB98"
                document.getElementById("googleplay").style.background= ""
                document.getElementById("other").style.background= ""
            }
             if(x=="googleplay")
            {
                document.getElementById("email").value = "googleplay@rizpardakht.com"
                /*TODO need phone */
                document.getElementById("pay").style.display= "block"
                document.getElementById("email").style.display= "none"
                document.getElementById("mobile").style.display= "none"
                document.getElementById("lable_email").style.display= "none"
                document.getElementById("lable_mobile").style.display= "none"
                document.getElementById("gre").style.background= ""
                document.getElementById("university").style.background= ""
                document.getElementById("googleplay").style.background= "#FECB98"
                document.getElementById("other").style.background= ""
            }
           if(x=="other")
             {
               document.getElementById("pay").style.display= "block"
               document.getElementById("email").value = ""
               document.getElementById("email").style.display= "block"
               document.getElementById("mobile").style.display= "block"
               document.getElementById("lable_email").style.display= "block"
               document.getElementById("lable_mobile").style.display= "block"
               document.getElementById("gre").style.background= ""
               document.getElementById("university").style.background= ""
               document.getElementById("googleplay").style.background= ""
               document.getElementById("other").style.background= "#FECB98"
             }
        }

        function fill_modal() {
                var email = document.getElementById("email");
                var mobile = document.getElementById("mobile");
                var comment = document.getElementById("comment");
                var amount = document.getElementById("amount");

                var modal_email = document.getElementById("modal_email");
                var modal_mobile = document.getElementById("modal_mobile");
                var modal_comment = document.getElementById("modal_comment");
                var modal_amount = document.getElementById("modal_amount");
                modal_email.innerHTML = email.value
                modal_mobile.innerHTML = mobile.value
                modal_comment.innerHTML = comment.value
                modal_amount.innerHTML = amount.value

        }
    {% endblock %}
</script>

{% block cont-header %}
    <div id="welcome-msg" style="font-family: IRAN-web">
        <h3 class="page-title"> {% trans "Pay to user" %}</h3>
    </div>
{% endblock %}
{% block cont-body %}
    <div id="interpay-desc" style="font-family: IRAN-web">
        <div class="container">
        <div style="color: red;font-weight: bold">
                {% if error %}{{ error }}{% endif %}
        </div>
         <div style="color: green;font-weight: bold">
                    {% if success %}{{ success }}{% endif %}
        </div>
        <div>
        <button id="gre" class=" select_button w3-button w3-round-xxlarge w3-border w3-hover-green"   style="margin-left:1%"   onclick="apear(this.id)">{% trans "Pay"%}GRE</button>
        <button id="university" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green"  onclick="apear(this.id)"> {% trans "University Fees" %}</button>
        <button id="googleplay" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green"  style="margin-left:1%"  onclick="apear(this.id)" >{% trans "Google play" %}</button>
        <button id="other" class="select_button w3-button w3-round-xxlarge w3-border w3-hover-green"  onclick="apear(this.id)">{% trans "Other Payments" %}</button>
        </div>
         <br><br>
            <form id="pay" method="post" action="/pay_user/" style="display: none;">
                {% csrf_token %}
                {#                <div class="row">#}

                {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <div class="form-group col-lg-2" style="padding:0;">
                 {% else %}
                    <div class="form-group col-lg-2" style="padding:0; float:right">
                {% endifequal %}
                     {% ifequal LANGUAGE_CODE 'en-gb' %}
                   <label style="display:block">
                {% else %}
                    <label style="display:block ; float: right">
                {% endifequal %}
                    {% trans 'Amount' %}
                    </label>
                    {% ifequal LANGUAGE_CODE 'en-gb' %}
                     <input type="text" name="amount" id="amount" class="form-control" style="width:150px;">
                {% else %}
                      <input type="text" name="amount" id="amount" class="form-control" style="width:150px; float:right">
                {% endifequal %}
                </div>



                 <div class="form-group" style="padding: 0">

                {% ifequal LANGUAGE_CODE 'en-gb' %}
                   <label style="display:block">
                {% else %}
                    <label style="display:block ; float: right">
                {% endifequal %}
                         {% trans 'currency' %}
                 </label>
                    <select name="currency" class="form-control"  style="width:110px">
                        <option value="IRR">Rial</option>
                        <option value="USD">Dollar</option>
                        <option value="EUR">Euro</option>
                    </select>
                </div>

               {% ifequal LANGUAGE_CODE 'en-gb' %}
                    <div class="form-group" style="float: left ; margin-right: 3%">
                {% else %}
                    <div class="form-group" style="float: right ; margin-left: 3%">
                {% endifequal %}
                    <label id="lable_email"style="display:block">
                          {% trans 'Destination Email:' %}
                    </label>

{#                    <form style="display: none" method="get" action="../info/">#}
{#                        <button  type="submit" onclick="goto()">Reviews detail</button>#}
{#                    </form>#}

                    <input type="text" name="email" id="email" class="form-control" style="width:300px">
                </div>

                <div class="form-group ">
                   <label id="lable_mobile" style="display:block">
                          {% trans 'Destination Mobile Number:' %}
                    </label>
                    <input type="text" name="mobile" id="mobile" class="form-control" style="width:300px">
                </div>
                {#                </div>#}
                {#                <div class="row">#}
                <div class="form-group">
                   <label style="display:block">
                    {% trans 'Comment:' %}
                    </label>
                    <textarea id="comment" name="comment" class="form-control" style="width:300px"></textarea>
                </div>
                {#                </div>#}
                <input type="button"
                       id="confirm"
                       onclick="fill_modal()"
                       value="{% trans 'Confirm' %}"
                       data-toggle="modal"
                       data-target="#myModal"
                       class="btn btn-info">
                <div class="container">
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" style="width:300px">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Payment Confirmation</h4>
                                </div>
                                <div class="modal-body">
                                    <label>Amount:</label>
                                    <span id="modal_amount"></span>
                                    <br>
                                    <label>Email:</label>
                                    <span id="modal_email"></span>
                                    <br>
                                    <label>Mobile:</label>
                                    <span id="modal_mobile"></span>
                                    <br>
                                    <label>Comment:</label>
                                    <span id="modal_comment"></span>

                                </div>

                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-default" style="float: left;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            style="float: left;">Close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>



{#    <div id="write_review_box" class="start_review">#}
{#        <div id="rating_field">#}
{#            <div id="js">#}
{#                <div id="rating">#}
{#                    <div class="star_rating_big" title="0.0 star rating">#}
{#                        <div class="star rating w0" >#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div id="rating_bubble"></div>#}
{#            </div>#}
{#        </div>#}
{#        <a href="/online-business-review#walmart.com_(Walmart.com)" id="write_review_prompt">Start your review of <strong>Walmart.com</strong></a>#}
{#        <div class="clear"></div>#}
{#    </div>#}

{% endblock %}

</body>
</html>