{% extends 'interpay/top_bar.html' %}
{% load staticfiles %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>
            Contact
        </title>
    </head>

    <body>
        {% block cont-body %}

            <section id="intro" class="intro-section">
                <div class="fullscreenbanner-container">
                    <div class="fullscreenbanner">
                        <ul>

                        <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        {% ifequal LANGUAGE_CODE 'fa-ir' %}
                            <div class="tp-caption rs-caption-3 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="10"
                             data-speed="0"
                             data-start="0"
{#                             data-easing="Back.easeInOut"#}
                             data-endspeed="1000">

                                                          با استفاده از این سرویس امکان پرداخت های بین المللی به دو صورت از طریق حساب های ریزپرداخت Rizpal فراهم می شود.
                                <br>
                                امکان پرداخت های GRE/GMAT از طریق این سرویس وجود دارد.
                                <br>
همچنین می توان این سرویس را با API های بانکی نیز ادغام کرد.
                            {% else %}
                            <div class="tp-caption rs-caption-4 sft start"
                                 data-x="center"
                                 data-hoffset="0"
                                 data-y="1"
                                 data-speed="0"
                                 data-start="0"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="1000">
                             We support two way payments to and from international sources via  RizPal Interpay accounts.
                                <br>
                            Support payment for GRE/GMAT payments.
                                <br>
                            Support integrations with banking API’s.

                        </div>
                                {% endifequal %}
</li>
                        </ul>
                    </div>
                </div>
            </section>

            <div class="clearfix"></div>

            <script>
        jQuery(document).ready(function () {
            App.init();
{#            App.initParallaxBg();#}
            RevolutionSlider.initRSfullScreen();
        });
    </script>
        {% endblock %}
    </body>
</html>