{% load i18n %}
{% load static %}
{% load staticfiles %}
{% ifequal LANGUAGE_CODE 'fa-ir' %}
    <link rel="stylesheet" type="text/css" href="{% static 'interpay/fonts/style.css' %}" />
{% endifequal %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%  block title %}
        {%  endblock %}
    </title>


    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'interpay/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'interpay/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static "interpay/bower_components/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "interpay/bower_components/font-awesome/css/font-awesome.min.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'interpay/images/ipay-favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'interpay/css/sweetalert.css' %}"/>

    <link rel="stylesheet" href="{% static 'interpay/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'interpay/css/settings.css' type="text/css"%}">

    <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/top_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interpay/css/logo.css' %}">

    {% block CSS %}

    {% endblock %}

    {% block JS %}
        <script src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'interpay/jquery/jquery-ui.js' %}"></script>
        <script src="{% static 'interpay/js/sweetalert.min.js' %}"></script>

        <script src="{%  static 'interpay/js/jquery.min.js' %}"></script>
        <script src="{% static 'interpay/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'interpay/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'interpay/js/jquery.themepunch.revolution.js' %} "></script>
        <script src="{% static 'interpay/js/one.app.js'%} "></script>
        <script src="{% static 'interpay/js/revolution-slider.js' %}"></script>
    {% endblock %}

</head>

{#<body style="background: #f9f9f9">#}
<body id="body" data-spy="scroll" data-target="interpay" style=" font-family:IRAN-web; background: #f9f9f9">
<script>
    $(document).ready(function () {
        $("#national_code").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });

        $("#mob_no").keydown(function (event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });

        $("#verification-code").keydown(function (event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
            }
            else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });

    $('#continue-btn').attr('disabled', true);
         $('input').keyup (function () {
            var disable = false;
            $(":text, :password").each(function () {
                if ($(this).val() == "") {
                    disable = true;
                }
            });
            $('#continue-btn').prop('disabled', disable);
        });
    });

    function to_en() {
        var en_url = window.location.href.replace("/fa-ir/", "/");
        window.location.assign(en_url);
        document.lang= "en"
    }

    function to_FA() {
        document.lang= "fa"
    }


    {% block script %}
    {% endblock %}
</script>
<header>
     <header>
     <nav class="interpay navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="topnav1" id="myTopnav">
            <h1  style="margin-top: 1px ; margin-bottom: 3%">
            {%  block change_lang %}
                     {% ifequal LANGUAGE_CODE 'en-gb' %}
               <a id="to-fa-link" href='/fa-ir{{ request.path }}' onclick="to_FA()">
                    <p class="lang"> Fa/Eng</p>
                        <img src="{% static 'interpay/images/irflag.png' %}" class="flag" style=" float:right ; margin-top:0px;cursor: pointer">
                    </a>
                {% else %}
                    <a id="to-en-link" class="trans-link" onclick="to_en()">
                        <p class="lang" style="cursor: pointer"> Eng/Fa </p>
                        <img src="{% static 'interpay/images/ukflag.png' %}" class="flag" style="float:right; margin-top:0px;cursor: pointer">
                    </a>
                {% endifequal %}
            {%  endblock %}
                 <img  class=" w3-hide-large" style="margin-left: 10px ; margin-bottom: 10px ; margin-top: 1px; " src="{% static 'interpay/images/rizpalfinal.png' %}"  >
                 <img  class=" w3-hide-medium w3-hide-small" style="margin-left: 10px ; margin-bottom: 10px ; margin-top: 1px; " src="{% static 'interpay/images/rizpalfinalL.png' %}"  >

            </h1>
        </ul>


        <div class="navbar-collapse">
            <div class="menu-container">
               <ul class="nav navbar-nav">


               <li class="active">
                      {% ifequal LANGUAGE_CODE 'en-gb' %}
                       <a href="/unregistered_pay/" class="buynowbut" id="trusted_payment_english" style="color: #9acfea">{% trans 'Direct Payment' %}</a>
                      {% else %}
                       <a href="/fa-ir/unregistered_pay/" class="buynowbut" id="trusted_payment_persian" style="color: #9acfea">{% trans 'Direct Payment' %}</a>
                      {% endifequal %}
                    </li>
                    <li class="active">
                      {% ifequal LANGUAGE_CODE 'en-gb' %}
                       <a href="/login/" class="buynowbut" id="login_english" style="color: #eebd14">{% trans 'LOGIN' %}</a>
                      {% else %}
                       <a href="/fa-ir/login/" class="buynowbut" id="login_persian" style="color: #eebd14">{% trans 'LOGIN' %}</a>
                      {% endifequal %}
                    </li>

                    <li class="page-scroll home">
                      {% ifequal LANGUAGE_CODE 'en-gb' %}
                            <a href="/" class="buynowbut" id="main_page_english">{% trans 'Main Page' %}</a>
                      {% else %}
                            <a href="/fa-ir/" class="buynowbut"id="main_page_persian">{% trans 'Main Page' %}</a>
                      {% endifequal %}
                    </li>

                    <li class="page-scroll home">
                        {% ifequal LANGUAGE_CODE 'en-gb' %}
                            <a href="/services/" id="services_english">{% trans 'SERVICES' %}</a>
                        {% else %}
                            <a href="/fa-ir/services/" id="services_persian">{% trans 'SERVICES' %}</a>
                        {% endifequal %}
                    </li>

                    <li class="nav navbar-nav">
                        {% ifequal LANGUAGE_CODE 'en-gb' %}
                            <a href="/contact/" id="contact_us_english"> {% trans 'CONTACT' %}</a>
                            {% else %}
                                <a href="/fa-ir/contact/" id="contact_us_persian"> {% trans 'CONTACT' %}</a>
                        {% endifequal %}

                    </li>
                    <li class="nav navbar-nav">
                        {% ifequal LANGUAGE_CODE 'en-gb' %}
                            <a href="/about/" id="about_us_english">{% trans 'ABOUT US' %}</a>
                        {% else %}
                            <a href="/fa-ir/about/" id="about_us_persian">{% trans 'ABOUT US' %}</a>
                        {% endifequal %}
                    </li>
                </ul>
            </div>
        </div>
</nav>
    </header>

        </header>
        {% block cont-body %}
        {% endblock %}
    </body>
</html>