{% extends 'interpay/base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-6">

 {% block flag %}

 {% endblock %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        {% trans 'Transaction History ' %}
    {% endblock %}</title>
    {% block CSS %}
       {% ifequal LANGUAGE_CODE 'fa-ir' %}
         <link rel="stylesheet" href="{% static 'interpay/css/trans_historyFarsi.css' %}">
       {% endifequal %}
        <link rel="stylesheet" href="{% static 'interpay/css/trans_history.css' %}">
    {% endblock %}
</head>
<body>
{% block cont-header %}
    <div>
        <h3 class="page-title">
            {% trans 'Transaction History' %}
        </h3>
    </div>
{% endblock %}
{% block cont-body %}

            <div id="trans-his-tab-searchbar" class="row" style="height: 15%">
                <span id="display-records" class="col-sm-6">
                    <i class="fa fa-eye" aria-hidden="true">
                        <select>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                        </select>
                    </i>
                </span>
            </div>
            <div id="trans_table" class="table-responsive">
{#            <table id="trans-his-tab" class="table">#}
{#                <thead>#}
{#                <tr role="row" class="table-header-row">#}
{#                    <td class="table-header-cell">#}
{#                    </td>#}
{#                    <td class="table-header-cell">#}
{#                    </td>#}
{#                    <td class="table-header-cell">#}
{#                    </td>#}
{#                    <td class="table-header-cell">#}
{#                    </td>#}
{#                    <td class="table-header-cell">#}
{#                    </td>#}
{#                    <td class="table-header-cell">#}
{#                    </td>#}
{#                    <td class="table-header-cell">#}
{##}
{#                    </td>#}
{#                    <td class="table-header-cell">#}
{##}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Transaction Date' %}#}
{#                    </th>#}
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Bank Name' %}#}
{#                    </th>#}
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Wallet Holder Name' %}#}
{#                    </th>#}
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Activity' %}#}
{#                    </th>#}
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Index Number' %}#}
{#                    </th>#}
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Interpay ID' %}#}
{#                    </th>#}
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Transaction Desc.' %}#}
{#                    </th>#}
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Amount' %}#}
{#                    </th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
                {#                {% for e in entries %}#}
{#                <tr>#}
{#                    <td class="table-cell"></td>#}
{#                    <td class="table-cell"></td>#}
{#                    <td class="table-cell"></td>#}
{#                    <td class="table-cell"></td>#}
{#                    <td class="table-cell"></td>#}
{#                    <td class="table-cell"></td>#}
{#                    <td class="table-cell"></td>#}
{#                    <td class="table-cell"></td>#}
{#                </tr>#}
                {#                {% endfor %}#}
{##}
{#                </tbody>#}
{#            </table>#}

{#            <div id="trans-his-tab-footer" class="row" style=" height:15% ; margin-left: 0 !important;margin-right: 0 !important;">#}
{#                <h5 style="padding-left: 20px" class="col-sm-8">Showing {{ 1 }} to {{ x }} of entries</h5>#}
{#                <h5 style="padding-left: 20px;font-style: italic" class="col-sm-4">#}
{#                    <b>{% trans 'My total stock in' %} {% trans 'USD' %} ~ {{ 1000 }}</b></h5>#}
{#            </div>#}

            <table id="wal-tab" class="table">
                <thead>
                <tr class="table-header-row">
                    <th class="table-header-cell">
                        {% trans 'Index' %}
                    </th>
                    <th class="table-header-cell" style="width: 15%">
                        {% trans 'Date' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Type' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Amount' %}
                    </th>
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Status' %}#}
{#                    </th>#}
                    <th class="table-header-cell">
                        {% trans 'Description' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Wallet' %}
                    </th>
{#                    <th class="table-header-cell">#}
{#                        {% trans 'Transaction' %}#}
{#                    </th>#}
                </tr>
                </thead>
                <tbody>
                {% for d in transaction_list %}
                    <tr>
                        <td width="6%" class="table-cell" style="text-align: center">{{ forloop.counter }}</td>
                        {#                        <td width="10%" class="table-cell" style="text-align: center">{{ d.id }}</td>#}
                        <td width="15%" class="table-cell" style="text-align: center">{{ d.date }}</td>
                        <td class="table-cell" width="15%" style="text-align: center">
                            {{ d.type|get_type }} {% if d|get_is_deposit:user %} Deposit {% else %} Withdraw {% endif %}
                        </td>

                        {% if d|get_is_deposit:user %}
                            <td class="table-cell">{{ d.amount }}<span style="float:right; color:lime"
                                                                       class="glyphicon glyphicon-triangle-top green"></span>
                            </td>
                        {% elif d|get_is_withdraw:user %}
                            <td class="table-cell">- {{ d.amount }}<span style="float:right; color:red"
                                                                         class="glyphicon glyphicon-triangle-bottom red"></span>
                            </td>
                        {% endif %}

{#                        <td class="table-cell" style="text-align: center">#}
{#                            {% if d|get_transaction_type == "deposit" %}#}
{#                                {% if d.status == 1 %}#}
{#                                    Reversed#}
{#                                {% elif d.status == 2 %}#}
{#                                    Pending#}
{#                                {% elif d.status == 3 %}#}
{#                                    Completed#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        </td>#}
                        <td class="table-cell">
                            {% if d|get_transaction_type == "money_transfer" %}
                                <div class="my_tooltip">
                                    {{ d|get_payment_sender_receiver:user}}
                                    <span class="my_tooltiptext">{{ d.comment }}</span>
                                </div>
                            {% endif %}
                        </td>
                        <td class="table-cell">
                            {% ifequal LANGUAGE_CODE 'en-gb' %}
                                <a href="/wallets/{{ d.account.account_id }}/" style="color:#3c7cc0">{{ d.account.account_id }}</a>
                            {% else %}
                                <a href="/fa-ir/wallets/{{ d.account.account_id }}/" style="color:#3c7cc0">{{ d.account.account_id }}</a>
                            {% endifequal %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
</body>
</html>