{% extends 'interpay/base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-6">

{% block flag %}

{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        {% trans 'Transaction History ' %}
    {% endblock %}</title>
    {% block CSS %}
        {% ifequal LANGUAGE_CODE 'fa-ir' %}
            <link rel="stylesheet" href="{% static 'interpay/css/trans_historyFarsi.css' %}">
        {% endifequal %}
        <link rel="stylesheet" href="{% static 'interpay/css/trans_history.css' %}">
    {% endblock %}
</head>
<body>
{% block cont-header %}
    <div>
        <div style="font-size: xx-large" class="page-title">
            {% trans 'Transaction History' %}
        </div>
    </div>
{% endblock %}
{% block cont-body %}

<div id="trans-his-tab-searchbar" class="row" style="height: 7%">
    <span id="display-records" class="col-sm-6">
        <i class="fa fa-eye" aria-hidden="true">
            <select>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </i>
    </span>
</div>
<div id="trans_table" class="table-responsive">

    <table id="wal-tab" class="table">
        <thead>
        <tr class="table-header-row">
            <th class="table-header-cell">
                {% trans 'Index' %}
            </th>
            <th class="table-header-cell" style="width: 15%">
                {% trans 'Date' %}
            </th>
            <th class="table-header-cell">
                {% trans 'Type' %}
            </th>
            <th class="table-header-cell">
                {% trans 'Amount' %}
            </th>
            <th class="table-header-cell">
                {% trans 'Description' %}
            </th>
            <th class="table-header-cell">
                {% trans 'Wallet' %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% if transaction_list %}
            {% for d in transaction_list %}
                <tr>
            <td width="6%" class="table-cell" style="text-align: center">{{ forloop.counter }}</td>
            <td width="15%" class="table-cell" style="text-align: center">{{ d.date }}</td>
            <td class="table-cell" width="15%" style="text-align: center">
                {{ d.type|get_type }} {% if d|get_is_deposit:user %} Deposit {% else %} Withdraw {% endif %}
            </td>

            {% if d|get_is_deposit:user %}
                <td class="table-cell">{{ d.amount }}<span style="float:right; color:lime"
                                                           class="glyphicon glyphicon-triangle-top green"></span>
                </td>
            {% elif d|get_is_withdraw:user %}
                <td class="table-cell">- {{ d.amount }}<span style="float:right; color:red"
                                                             class="glyphicon glyphicon-triangle-bottom red"></span>
                </td>
            {% endif %}

            <td class="table-cell">
                {% if d|get_transaction_type == "money_transfer" %}
                    <div class="my_tooltip">
                        {{ d|get_payment_sender_receiver:user}}
                        <span class="my_tooltiptext">{{ d.comment }}</span>
                    </div>
                {% endif %}
            </td>
            <td class="table-cell">
                {% ifequal LANGUAGE_CODE 'en-gb' %}
                <a href="/wallets/{{ d.account.account_id }}/" style="color:#3c7cc0">{{ d.account.account_id }}</a>
                {% else %}
                <a href="/fa-ir/wallets/{{ d.account.account_id }}/"
                   style="color:#3c7cc0">{{ d.account.account_id }}</a>
                {% endifequal %}
            </td>
        </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    {% trans 'You do not have any transactions.'%}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
</body>
</html>