{% extends 'interpay/base.html' %}
{% load filters %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load currency %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block flag %}

    {% endblock %}
    <title>
        {% block title %}
            Detailed -  {% trans 'Wallet Info ' %}- Interpay Iran
        {% endblock %}
    </title>
    {% block CSS %}
        <link rel="stylesheet" href="{% static 'interpay/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'interpay/bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static "interpay/bower_components/font-awesome/css/font-awesome.css" %}">
        <link rel="stylesheet" href="{% static "interpay/bower_components/font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static 'interpay/css/registeration_form.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'interpay/images/ipay-favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'interpay/css/sweetalert.css' %}"/>
        <link rel="stylesheet" href="{% static 'interpay/css/wallets.css' %}">
    {% endblock %}
    {% block JS %}
        <script type="text/javascript" src="{% static 'interpay/js/conversion.js' %}"></script>
        <script src="{% static 'interpay/jquery/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'interpay/jquery/jquery-ui.js' %}"></script>
        <script src="{% static 'interpay/js/sweetalert.min.js' %}"></script>



        <script>
         $(document).ready(function () {
          var inf = $('#message').text();
          if( $('#message').text().length!=14)
            {
                    swal({
              title: '<div>  {% trans 'Successfully Created' %}</div> <div style="color:orange; font-size: small"> {% trans 'Click on  your account Id if you want to go to your account' %}</div><u></u> <a   {% ifequal LANGUAGE_CODE 'en-gb' %} href="/wallets/{{ account_id }}">{{account_id}}  {% else %}  href="/fa-ir/wallets/{{ account_id }}">{{account_id}} {% endifequal %}</a> ',
                    type: 'info',
               html: ' ' + 'and other HTML tags',
               type: "info",
               showCancelButton: true,
               confirmButtonColor: "#DD6B55 ",
               cancelButtonText: '{% trans 'back to current wallet'%}',
               closeOnConfirm: false,
               closeOnCancel: false,
               showConfirmButton: false,
             });
                }
            });
            var unsaved = false;
            $(":input").change(function () { //trigers change in all input fields including text type
                unsaved = false;
            });
            function unloadPage() {
                if (unsaved) {
                    return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
                }
            }
            window.onbeforeunload = unloadPage;
            function formSubmitter(formTag, messageTag) {
                swal({
                    title: '{%  trans 'Conversion' %}',
                    text: '{%  trans 'Your conversion is in process' %}',
                    type: 'info',
                    showConfirmButton: false,
                });
                document.getElementById("success").style.display = "block";
                document.getElementById(messageTag).innerHTML = "You have changed currency";
                document.getElementById("sampleform").style.display = "none";
                setTimeout("time()", 1000);
            }
            function time() {
                document.getElementById("sampleform").submit();
            }
        </script>
    {% endblock %}
</head>
<body>
{% block cont-header %}
    <div>
        <h3 class="page-title">
            {% trans 'Wallet Info' %}
        </h3>
    </div>
{% endblock %}
{% block cont-body %}


    <div class="table-responsive">
        <table id="wal-tab" class="table">
            <thead>
            <tr class="table-header-row">
                <th class="table-header-cell" style="width:15%">
                    {% trans 'Wallet Code' %}
                </th>
                <th class="table-header-cell">
                    {% trans 'Wallet Type' %}
                </th>
                <th class="table-header-cell">
                    {% trans 'Currency Name' %}
                </th>
                <th class="table-header-cell">
                    {% trans 'Currency Symbol' %}
                </th>
                <th class="table-header-cell">
                    {% trans 'Balance' %}
                </th>
                <th class="table-header-cell">
                    {% trans 'Wallet Description' %}
                </th>
                {#                    <th  class="table-header-cell">#}
                {#                        {% trans 'Converted Value' %}#}
                {#                    </th>#}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-cell" style="width:15%; text-align: center">{{ account.account_id }} </td>
                <td class="table-cell" style="text-align: center">user</td>
                <td class="table-cell" style="text-align: center"></td>
                <td class="table-cell" style="text-align: center">{{ account.cur_code }}</td>
                <td class="table-cell" style="text-align: center">{{ account.balance }}</td>
                <td class="table-cell" style="text-align: center">{{ account.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="message">
        <a href="/wallets/{{ account_id }}">{{ message }}</a>
    </div>


    <div id="error" style="color:red">
        {{ error }}
    </div>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Modalconvert">convert</button>
    <div class="modal fade" id="Modalconvert" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Convert</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="../actual_convert/" id="sampleform">
                        {% csrf_token %}

                        <div style="margin-left: 0 !important;margin-right: 0 !important;">
                            <div style="margin-right:0px;width:300px;margin-left: 10px ">
                                <label>{% trans 'Amount' %}: </label>
                                <input id="amount" name="amount" type="text" value={{ recommended }}><br>
                                <label>{% trans 'To Currency' %}: </label>
                                <select name="currency" id="currency">
                                    <option value="EUR" selected="selected">Default EURO</option>
                                    {% for curr in CURRENCIES %}
                                        <option value="{{ curr.code }}">
                                            {{ curr.symbol }} {{ curr.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="account_id" value="{{ account.account_id }}">
                                <br>
                                <input value="Submit" type='button' onclick="formSubmitter('sampleform','success')">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none; width: 80%; height: 30%" class="alert alert-success" id='success'></div>
    <hr>
    <form action="../withdraw_pending_deposit/" method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <h3>Transactions</h3>
            <table id="wal-tab" class="table">
                <thead>
                <tr class="table-header-row">
                    <th class="table-header-cell">
                        {% trans 'Index' %}
                    </th>
                    <th class="table-header-cell" style="width: 15%">
                        {% trans 'Date' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Type' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Amount' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Status' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Description' %}
                    </th>
                    {#                    <th class="table-header-cell">#}
                    {#                        {% trans 'Source/Destination' %}#}
                    {#                    </th>#}
                    <th class="table-header-cell">
                        {% trans 'International' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Transaction' %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for d in list %}
                    <tr>
                        <td width="6%" class="table-cell" style="text-align: center">{{ forloop.counter }}</td>
                        {#                        <td width="10%" class="table-cell" style="text-align: center">{{ d.id }}</td>#}
                        <td width="15%" class="table-cell" style="text-align: center">{{ d.date }}</td>
                        {#                        <td class="table-cell">{{ d.account.account_id }}</td>#}
                        {#                        <td class="table-cell">{{ d.cur_code }}</td>#}
                        <td class="table-cell" width="15%" style="text-align: center">
                            {#                            {% if d|get_transaction_type == "money_transfer" %}#}
                            {{ d|get_transfer_type:user}}
                            {#                            {% endif %}#}
                            {#                            {{ d.id }}#}
                        </td>
                        {% if d|get_transaction_type == "deposit" %}
                            <td class="table-cell">{{ d.amount }}<span style="float:right; color:lime"
                                                                       class="glyphicon glyphicon-triangle-top green"></span>
                            </td>
                        {% else %}
                            <td class="table-cell">- {{ d.amount }}<span style="float:right; color:red"
                                                                         class="glyphicon glyphicon-triangle-bottom red"></span>
                            </td>
                        {% endif %}
                        <td class="table-cell" style="text-align: center">
                            {% if d|get_transaction_type == "deposit" %}
                                {% if d.status == 1 %}
                                    Reversed
                                {% elif d.status == 2 %}
                                    Pending
                                {% elif d.status == 3 %}
                                    Completed
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="table-cell">
                            {% if d|get_transaction_type == "money_transfer" %}
                                <div class="my_tooltip">
                                    {{ d|get_payment_sender_receiver:user}}
                                    <span class="my_tooltiptext">{{ d.comment }}</span>
                                </div>
                            {% endif %}
                        </td>
                        <td class="table-cell">
                            {% if d|get_transaction_type == "deposit" %}
                                <input type="hidden" name="deposit_id" value="{{ d.id }}">
                                {% if d.status == 2 %}
                                    <input type="submit" value="Withdraw">
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="table-cell" style="color:green;font-weight: bold">
                            {% if d|get_transaction_type == "deposit" %}
                                {% if deposit_id == d.id %}
                                    {{ transaction_status }}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="message">
            <a href="/wallets/{{ account_id }}">{{ message }}</a>
        </div>

        </div>
    </form>
{% endblock %}
</body>

</html>

