{% extends 'interpay/base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load currency %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="interpay/bootstrap/js/bootstrap.min.js">
    {% block flag %}
        
    {% endblock %}
    <title>
        {% block title %}
            {% trans 'Wallet Overview ' %}- Interpay Iran
        {% endblock %}
    </title>
    {% block CSS %}
        <link rel="stylesheet" href="{% static 'interpay/css/wallets.css' %}">
    {% endblock %}
    {% block JS %}
         <script type="text/javascript" src="{% static 'interpay/js/conversion.js' %}"></script>
         <script>
         function unloadPage() {
                if (unsaved) {
                    return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
                }
            }
            window.onbeforeunload = unloadPage
        </script>
    {% endblock %}
</head>
<body>
{#{% block js %}#}
{#    <script type="text/javascript" src="{% static 'interpay/js/conversion.js' %}"></script>#}
{#{% endblock %}#}
{% block cont-header %}
    <div>
        <h3 class="page-title">
            {% trans 'Wallets Overview' %}
        </h3>
        <div class="isa_info" style="background-color: #DCDCDC;">
          <i class="fa fa-info-circle"></i>
           {% trans 'may take up to 1 minute to be updated, please refresh to get latest information.' %}
        </div>
    </div>
{% endblock %}
{% block cont-body %}

   <div id="wal-tab-searchbar" class="row" style="height:10%">
                <span id="display-records" class="col-sm-6">
                    <i class="fa fa-eye" aria-hidden="true">
                        <select>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                        </select>
                    </i>
                </span>
                <span id="search" class="col-sm-6">
                    <i class="fa fa-search" aria-hidden="true">
                        <input type="text" id="search-txtbox">
                    </i>
                </span>
      </div>

 <div class="table-responsive">
            <table id="wal-tab" class="table">
                <thead>
                <tr class="table-header-row">
                    <th class="table-header-cell">
                        {% trans 'Wallet Code' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Wallet Type' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Currency Name' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Currency Symbol' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Balance' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Wallet Description' %}
                    </th>
                    <th class="table-header-cell">
                        {% trans 'Conversion' %}
                    </th>
                    <th  class="table-header-cell">
                        {% trans 'Converted Value' %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for account in accountList %}
                    <tr>
                        <td class="table-cell"><a href="{{ account.account_id }}">{{ account.account_id }}</a></td>
                        <td class="table-cell">user</td>
                        <td class="table-cell"></td>
                        <td class="table-cell">{{ account.cur_code }}</td>
                        <td class="table-cell">{{ account.balance }}</td>
                        <td class="table-cell">{{ account.name }}</td>
                        <td class="table-cell">
                            <select name="currency_code{{ forloop.counter }}" id="currency_code{{ forloop.counter }}"
                                    onchange="convert({{ account.balance }},{{ forloop.counter }},'{{ account.cur_code }}');">
                                <option>Currency...</option>
                                {% for curr in CURRENCIES %}
                                   {% if  account.cur_code != curr.code %}
                                    <option value="{{ curr.code }}">
                                        {{ curr.symbol }} {{ curr.name }}
                                    </option>
                                  {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="table-cell">
                            <div id="converted{{ forloop.counter }}"></div>

                             <button  id="convertButton{{ forloop.counter }}" style="display: none" type="button" data-toggle="modal" data-target="#Modalconvert{{ forloop.counter }}">Convert</button>
                             <div class="modal fade" id="Modalconvert{{ forloop.counter }}" role="dialog">
                                <div class="modal-dialog">
                                 <div class="modal-content">
                                   <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Convert</h4>
                                   </div>
                                 <div class="modal-body">
                                    <form method="post" action="/wallets/actual_convert/" id="sampleform{{ forloop.counter }}">
                                    {% csrf_token %}
                                    <div style="margin-left: 0 !important;margin-right: 0 !important;">
                                     <div style="margin-right:0px;width:300px;margin-left: 10px ">
                                        <label>{% trans 'Amount' %} ({{ account.cur_code }}) :</label>
                                        <input id="amount" name="amount" type="text" value="{{ account.balance }}"><br>
                                        <label>{% trans 'To Currency' %}: </label>
                                        <select name="currency" id="currency">
                                         <option value="EUR" selected="selected">Default EURO</option>
                                         {% for curr in CURRENCIES %}
                                          {% if  account.cur_code != curr.code %}
                                          <option value="{{ curr.code }}">
                                            {{ curr.symbol }} {{ curr.name }}
                                          </option>
                                           {% endif %}
                                         {% endfor %}
                                </select>
                                <input type="hidden" name="account_id" value="{{ account.account_id }}">
                                <br>
                                <input value="Submit" type="submit">
                                </div>
                               </div>
                              </form>
                           </div>
                     <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
             </div>
            </div>
                           <!---   <form id="convertButton{{ forloop.counter }}" style="display: none" method="get" action="../wallets/{{ account.account_id }}/">
                                <input type="hidden" name="recom" value="yes"/>

                               <button  type="submit" onclick="goto()">Convert</button>
                            </form> -->
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
</div>

   <div id="wal-tab-footer" class="row" style=" height:20%; margin-left: 0 !important;margin-right: 0 !important;">
                <h5 style="padding-left: 20px" class="col-sm-8">Showing {{ 1 }} to {{ x }} of entries</h5>
                <h5 style="padding-left: 20px;font-style: italic" class="col-sm-4">
                    <b>{% trans 'My total stock in' %} {% trans 'USD' %} ~ {{ accountList.first.total_value }}</b></h5>

                <div style="float:right; margin-right:0px;width:300px; ">


{#                    <select name="currency_code" id="currency_code"#}
{#                            onchange="temp({{ accountList.first.total_value }});">#}
{#                        <option>Select Currency...</option>#}
{#                        {% for curr in CURRENCIES %}#}
{#                            <option value="{{ curr.code }}"#}
                                    {#                                    {% ifequal curr.code CURRENCY.code %}selected="selected"{% endifequal %}#}
{#                            >#}
{#                                {{ curr.symbol }} {{ curr.name }}#}
{#                            </option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                    <br>#}
{#                    {% if accountList.first.total_value %}#}
{#                        {{ accountList.first.total_value|currency:"IRR" }} IRR is equal to#}
{#                        {% change_currency accountList.first.total_value code %}{{ code }}#}
{#                    {% else %}#}
{#                        {{ 100|currency:"IRR" }} IRR is equal to {% change_currency 10000 code %}{{ code }}#}
{#                    {% endif %}#}








                    {#                    {% if accountList.first.total_value %}#}
                    {#                        {{ accountList.first.total_value|currency:"IRR" }} IRR is equal to#}
                    {#                        {% change_currency accountList.first.total_value 'USD' %}#}
                    {#                    {% else %}#}
                    {#                        {{ 0|currency:"IRR" }} IRR is equal to {% change_currency 0 'USD' %}#}
                    {#                    {% endif %}#}
                    {#                    in {{ CURRENCY.code }}#}
                </div>

   </div>

{% endblock %}
</body>
</html>

